<app-header></app-header>
<!-- start banner -->
<div class="sherpa-busy bg3 banner">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-6 textb">
				<h3>Helping your employees find their ‘home away from home’</h3>
				<h4>Home search. Outsourced.</h4><!-- 
				<p>Moving is one of the most stressful life events, even more so if you’re taking on new responsibilities and relocating family in tow.</p>
				<p>At Avasa, we ofer the option to outsource this drawn out process to a dedicated local expert.</p> -->
			</div><!-- textb -->
			<div class="col-12 col-sm-6 col-md-6 img-box">
				<img src="assets/images/img_16.png" alt="image">
			</div><!-- img-box -->
		</div>
	</div>
</div>
<!-- end banner -->
<!-- start why-sherpa -->
<div class="why-sherpa">
	<div class="container">
		<h3>Why hire a Sherpa?</h3>
		<h4>Moving is one of the most stressful events in life, even more so if you’re taking on new responsibilities and relocating family in tow. 
At Avasa, we offer the option to outsource this drawn-out process to a dedicated local expert.</h4>
		<div class="row">
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Take the time & stress out of home hunting for your employees</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Better manage relocation costs with our range of fixed fee packages</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Save money: avoid expensive short-term accommodation </p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Your employees get a dedicated local industry expert, working on their side</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>One single point of contact to organise viewings, coordinate & negotiate</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Improve employee engagement with a fully customised service that truly makes a difference</p>
				</div>
			</div>
		</div>
		<!-- <ul class="clearfix">
			<li>1: We do not receive any payment from landlords or estate agents and remain fully independent; our fees are fixed, as published, so you have full transparency on costs</li>
			<li>2: We search across on-market and off-market properties through our own industry networks</li>
		</ul> -->
	</div>
</div>
<!-- end why-sherpa -->
<!-- start sherpa-service -->
<div class="sherpa-service">
	<div class="container">
		<h3>Pick your Sherpa service</h3>
		<div class="row">
			<div class="col-12 col-md-4 col-lg-4">
				<div class="price-list clearfix">
					<h4>Search</h4>
					<h5>£199</h5>
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_box2.svg" alt="icon"></div>
							<div class="txtb">
								Prepare & Search 
							</div>
							<a href="#" class="btn-book" data-toggle="modal" data-target="#myModal">Book now</a>
						</li>
					</ul>
				</div><!-- price-list -->
				<div class="price-info clearfix">
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Avasa App
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Tenant’s Guide to a Smooth Move + Sherpa Tips 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								30-mins consultation with an expert Sherpa
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Agent outreach & coordination
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Targeted search & 3 curated property lists
							</div>
						</li>
					</ul>
				</div><!-- price-info -->
			</div>
			<div class="col-12 col-md-4 col-lg-4">
				<div class="price-list active clearfix">
					<div class="tag">Best value</div>
					<h4>Find & Finalise</h4>
					<h5>£599</h5>
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_box2.svg" alt="icon"></div>
							<div class="txtb">
								Prepare & Search  
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_search2.svg" alt="icon"></div>
							<div class="txtb">
								View & Secure Lease   
							</div>
							<a href="#" class="btn-book" data-toggle="modal" data-target="#myModal">Book now</a>
						</li>
					</ul>
				</div><!-- price-list -->
				<div class="price-info clearfix">
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								<strong>Everything in Search</strong>
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Organise viewing for up to 15 properties
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Up to 7 Sherpa accompanied viewings
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Dedicated assistance for offer & lease negotiation
							</div>
						</li>
					</ul>
				</div><!-- price-info -->
			</div>
			<div class="col-12 col-md-4 col-lg-4">
				<div class="price-list clearfix">
					<h4>Relocate</h4>
					<h5>£899</h5>
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_box2.svg" alt="icon"></div>
							<div class="txtb">
								Prepare & Search 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_search2.svg" alt="icon"></div>
							<div class="txtb">
								View & Secure Lease   
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_home2.svg" alt="icon"></div>
							<div class="txtb">
								Move & Settle In   
							</div>
							<a href="#" class="btn-book" data-toggle="modal" data-target="#myModal">Book now</a>
						</li>
					</ul>
				</div><!-- price-list -->
				<div class="price-info clearfix">
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								<strong>Everything in Find & Finalise </strong> 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Move-in Welcome Pack – to get you through your home move 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Personalised moving day planner
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Managing your move-in day & helping you settle-in
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Personalised In The Neighbourhood guide
							</div>
						</li>
					</ul>
				</div><!-- price-info -->
			</div>
		</div>
	</div>
</div>
<!-- end sherpa-service -->
<!-- start testimonials -->
<div class="testimonial">
	<div class="container">
		<div class="testimonial-in">
			<h3>See what our customers think?</h3>
			<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<ul>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<!-- <li><a href="#"><img src="assets/images/ic_star_unselect.svg"></a></li> -->
						</ul>
						<p>Killed it. Truly a great experience that I would recommend to anyone I know looking for a flat in London!
						   <span>Tracy & Chris - Professionals</span>
						</p>
					</div>
					<div class="carousel-item">
						<ul>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
						</ul>
						<p>Terrific service that provided peace of mind knowing that I had experts within the London rental market on my side of the table! Great service that was worth every penny. 
						   <span>Matthew - MBA student</span>
						</p>
					</div>
					<div class="carousel-item">
						<ul>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
						</ul>
						<p>Love that you can search according to your lifestyle criteria.  Found this especially useful as we are new to London. Really saves you time by selecting listings relevant to you. 
						   <span>Chrys – Procurement, FMCG</span>
						</p>
					</div>
					<div class="carousel-item">
						<ul>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
						</ul>
						<p>Saved me a lot of time searching online and dealing with estate agents! I viewed 5 properties I really liked - an amazing score compared to my previous home hunting experience!  I’ve already recommended the service to a colleague.
						   <span>Lars – CEO, Fintech</span>
						</p>
					</div>
					<div class="carousel-item">
						<ul>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
						</ul>
						<p>Bespoke service, trained and expert team, an innovative service very helpful when you are on the tenant side... worth 100% of the fees. Would definitely recommend to my friends, family, colleagues...
						   <span>Aurélie – Marketing, Luxury</span>
						</p>
					</div>
					<div class="carousel-item">
						<ul>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
						</ul>
						<p>Excellent experience, delivered me my dream London apartment, frankly, which is really shaping my experience. 
						   <span>Maeve, MBA student</span>
						</p>
					</div>
				</div>
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
					<li data-target="#myCarousel" data-slide-to="4"></li>
					<li data-target="#myCarousel" data-slide-to="5"></li>
				</ol>
				<!-- <ol>
					<li><a href="#"></a></li>
					<li><a href="#" class="active"></a></li>
					<li><a href="#"></a></li>
				</ol> -->
			</div>
		</div>
	</div>
</div>
<!-- end testimonials -->
<!-- Modal -->
<div class="modal fade comming-soon" id="myModal" role="dialog">
	<div class="modal-dialog">
	
	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-body">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<img src="assets/images/Coming-Soon.jpg" alt="Coming-Soon">
		</div>
	  </div>
	  
	</div>
	</div>
<!-- start footer -->
<div class="sherpa-services footer clearfix">
	<div class="container">
		<div class="footer-logo">
			<a routerLink="/"><img src="assets/images/logo_white.svg" alt="AWASA"></a>
		</div>
		<div class="footer-text clearfix">
			<p>At Avasa AI, we work to deliver the most transparent and efficient end-to-end solution for rental property search that puts tenants ﬁrst.</p>
			<p>We support you in ﬁnding properties in neighbourhoods that ﬁt your lifestyle, making the drawn-out, painful process of renting quicker, simpler and hopefully more enjoyable.  </p>
			<p>Avasa was previously known as The Urban Collective.</p>
			<!-- app_download_link -->
			<div class="app_download_link">
				<ul>
					<li><a target="_blank"  href="https://itunes.apple.com/gb/app/urbanco/id1250754314?mt=8&__hssc=157679013.9.1499435970955&__hstc=157679013.491ad065b4b918b71da45d1dbdfec8b0.1499428732458.1499428732458.1499435970955.2&__hsfp=1188821749&hsCtaTracking=e7778a35-3118-4d5a-b74d-f9189dbb38c1%7Cbf95b683-b052-4355-ae86-07d2b07c1644"><img src="assets/images/ic_app_store.png" alt="apple"></a></li>
					<li><a target="_blank"  href="https://play.google.com/store/apps/details?id=com.urbancollective"><img src="assets/images/ic_google_play.png" alt="android"></a></li>
				</ul>
			</div>
			<!-- app_download_link -->
		</div>
		<div class="footer-link">
			<h6>ABOUT</h6>
			<ul>
				<li><a routerLink="/home-search">Search</a></li>
				<li><a routerLink="/sherpa-services">Sherpa Services</a></li>
				<li><a routerLink="/area-guides">Our blog</a></li>
				<li><a routerLink="/proptech-startup">Our Story</a></li>
				<li><a routerLink="/how-it-works">Contact us </a></li>
			</ul>
		</div>
		<div class="footer-social-link">
			<h6>FOLLOW US </h6>
			<ul>
				<li><a href="http://facebook.com/AvasaAI" target="_blank"><img src="assets/images/ic_facebook.svg">Facebook</a></li>
				<li><a href="https://www.instagram.com/avasaai/" target="_blank"><img src="assets/images/ic_instagram.svg">Instagram</a></li>
				<li><a href="https://twitter.com/AvasaAI" target="_blank"><img src="assets/images/ic_twitter.svg">Twitter</a></li>
				<li><a href="https://www.linkedin.com/company/the-urban-collective/?viewAsMember=true" target="_blank"><img src="assets/images/ic_linkedin_in.svg">LinkedIn</a></li>
				<li><a href="https://www.youtube.com/channel/UCdkpG7CiG13GIfuN3efnBFg" target="_blank"><img src="assets/images/ic_youtube.svg">YouTube</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- end footer -->
<!-- start footer-bot -->
<div class="sherpa-services footer-bot clearfix">
	<div class="container">
		<ul>
			<li><a href="#">Copyright  AVASA.ltd</a></li>
			<li><a routerLink="/privacy-policy">Privacy Policy</a></li>
			<li><a routerLink="/terms-of-use.html">Terms Of Use</a></li>
			<li><a routerLink="/site-map" target="_blank">Sitemap</a></li>
		</ul>
	</div>
</div>
<!-- end footer-bot -->