.message {
border-radius: 50px;
margin: 0 15px 10px;
padding: 15px 20px;
position: relative;
font-weight: bold;
}
.message.to {
background-color: #2095FE;
color: #fff;
margin-left: 100px;
text-align: right;
}
.message.from {
background-color: #E5E4E9;
color: #363636;
margin-right: 100px;
}
.message span {
  display: block !important;
}

.message.to + .message.to,
.message.from + .message.from {
/*margin-top: -10px;
*/}

.chatform{
  width: 370px;
  margin: 0 auto;
  margin-top: 10px;
}

.chatcontrol{
  float: left;
  width: 100%;

  .chatinput{
    width: 80%;
    float: left;
    border-radius: 0;
  }

  .sendbtn{
    width: 20%;
    float: left;
    border-radius: 0;
    text-transform: uppercase;
  }
}

.message {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
}

.timeform {
  float: left;
  width: 100%;

  i {
    margin-left: 20px;
  }

  .timestamp{
    font-size: 0.6em;
  }
}
.avatar{
  width: 50px;
  margin-right: 20px;
}

.chatlist{
  height: auto;
  overflow-y: auto;
}
.form-control {
  font-size: 1.5rem !important;
  color: #666;
}