

<app-header></app-header>
<!-- end header -->
<!-- start banner -->
<div class="sherpa-busy bg5 banner">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-6 textb">
				<h3>Find a property near Imperial.</h3>
				<h4>Home search. No hassle.</h4>
			</div><!-- textb -->
		</div>
	</div>
</div>
<!-- end banner -->
<!-- london-neighbourhoods -->
<div class="london-neighbourhoods">
	<div class="container">
		<div class="dropdown-list">
			<select class="select-box" onchange="location = this.value;">
					<option value="/accommodation-near-lbs"><a routerLink="accommodation-near-lbs">Accommodation Near LBS</a></option>
					<option value="/area-guides"><a routerLink="area-guides">London</a></option>
					<option disabled="disabled">More coming soon</option>
			</select>
		</div>
		<h3 class="mt19">Trending Neighbourhoods Near Imperial</h3>
		<div class="row">
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<a href="https://avasa.ai/blog/2019/02/25/in-the-neighbourhood-st-johns-wood-maida-vale/"><img src="assets/images/img_21.png" alt="image"></a>
				</div>
				<div class="text-box">
					<h4><a href="https://avasa.ai/blog/2019/02/25/in-the-neighbourhood-st-johns-wood-maida-vale/" >South Kensington</a></h4>
					<p>South Kensington is both a residential and commercial neighbourhood, with a strong cultural vibe, centrally located
between Belgravia, Chelsea, Knightsbridge and Earls' Court.</p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<a href="https://avasa.ai/blog/2019/02/25/in-the-neighbourhood-marylebone/" ><img src="assets/images/img_22.png" alt="image"></a>
				</div>
				<div class="text-box">
					<h4><a href="https://avasa.ai/blog/2019/02/25/in-the-neighbourhood-marylebone/" >Victoria</a></h4>
					<p>South Kensington is both a residential and commercial neighbourhood, with a strong cultural vibe, centrally located between
Belgravia, Chelsea, Knightsbridge and Earls' Court..</p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<a href="https://avasa.ai/blog/2019/02/25/in-the-neighbourhood-primrose-hill/"><img src="assets/images/img_23.png" alt="image"></a>
				</div>
				<div class="text-box">
					<h4><a href="https://avasa.ai/blog/2019/02/25/in-the-neighbourhood-primrose-hill/">Earl's Court</a></h4>
					<p>Once called 'bedsit land' due to its popularity amongst students, today's Earl's Court is home to young and ambitious city workers, entrepreneurs, actors, musicians, artists, and young families. It offers a unique slice of London city life accompanied by an authentic village atmosphere.</p>
				</div>
			</div><!-- column -->
		</div>
	</div>
	<div class="clearfix">
		<a href="https://avasa.ai/blog/category/in-the-neighbourhood" class="more-btn">Read more posts</a>
	</div>
</div>
<!-- london-neighbourhoods -->
<!-- start search-home-box -->
<div class="search-home-box gap2 clearfix">
	<div class="search-info">
		<div class=" justify-content-md-center">
			<div class="col-12 ">
				<h2>Start your search now</h2>
				<app-search-field></app-search-field>
				<!-- popular-search -->
				<div class="popular-search">
					<h4>Popular searches near Imperial College</h4>
					<ul>
						<li><a href="#" data-toggle="modal" data-target="#myModal">2 beds near Imperial College</a></li>
						<li><a href="#" data-toggle="modal" data-target="#myModal">Studio and 1 bed near Imperial College</a></li>
						<li><a href="#" data-toggle="modal" data-target="#myModal">3 bed near Imperial College</a></li>
					</ul>
				</div>
				<!-- popular-search -->
			</div>
		</div>
	</div>
</div>	
<!-- end search-home-box -->
<!-- start why-sherpa -->
<div class="claim-free-column why-sherpa">
	<div class="container">
		<h3>Why students work with us</h3>
		<p class="textb">Our Sherpas provide you unbiased and tailored advice<br> about rental process, prices and tips on how to save<br> money, time and hassle!</p>
		<!-- <h4>Mayank tp provide copy </h4> -->
		<div class="row">
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Organise Skype viewings even from a beach</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Get a professional to fight your corner</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Avoid nasty clauses in the lease</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>No more calling or emailing estate agents for search</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Unbiased advice on fair rental values</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Save money on short-term residences</p>
				</div>
			</div>
		</div>
		<a href="#" class="claim-btn">Claim Free Consultaion Now</a>
	</div>
</div>
<!-- end why-sherpa -->
<!-- start company-stats -->
<div class="company-stats-main">
	<h3>See what other Imperial students are saying about us</h3>
	<div class="company-stats">
		<ul>
			<li>
				<img src="assets/images/ic_rating.svg">
				<h4>5 <img src="assets/images/ic_star_unselect2.svg"></h4>
				<p>Rating</p>
			</li>
			<li>
				<span class="net-score">
					NPS<span>9.7</span>
				</span>
				<p>Net promoter <br>score</p>
			</li>
			<li>
				<img src="assets/images/ic_sherpa_services.svg">
				<h4>£2,000</h4>
				<p>Average saving using <br>Sherpa Service </p>
			</li>
			<li>
				<img src="assets/images/ic_total_value.svg">
				<h4>£1.75m</h4>
				<p>Total rental value <br>for tenants</p>
			</li>
		</ul>
	</div>
	<!-- start testimonial -->
	<div class="testimonial" itemscope itemtype="http://schema.org/Review">
		<div class="container">
			<div class="testimonial-in">
				<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<p>Killed it. Truly a great experience that I would recommend to anyone I know looking for a flat in London!
							   <span itemprop="author">Tracy & Chris - Professionals</span>
							</p>
						</div>
						<div class="carousel-item">
							<p itemprop="reviewBody">Terrific service that provided peace of mind knowing that I had experts within the London rental market on my side of the table! Great service that was worth every penny. 
							   <span itemprop="author">Matthew - MBA student</span>
							</p>
						</div>
						<div class="carousel-item">
							<p itemprop="reviewBody">Love that you can search according to your lifestyle criteria.  Found this especially useful as we are new to London. Really saves you time by selecting listings relevant to you. 
							   <span itemprop="author">Chrys – Procurement, FMCG</span>
							</p>
						</div>
						<div class="carousel-item">
							<p itemprop="reviewBody">Saved me a lot of time searching online and dealing with estate agents! I viewed 5 properties I really liked - an amazing score compared to my previous home hunting experience!  I’ve already recommended the service to a colleague.
							   <span itemprop="author">Lars – CEO, Fintech</span>
							</p>
						</div>
						<div class="carousel-item">
							<p itemprop="reviewBody">Bespoke service, trained and expert team, an innovative service very helpful when you are on the tenant side... worth 100% of the fees. Would definitely recommend to my friends, family, colleagues...
							   <span itemprop="author">Aurélie – Marketing, Luxury</span>
							</p>
						</div>
						<div class="carousel-item">
							<p itemprop="reviewBody">Excellent experience, delivered me my dream London apartment, frankly, which is really shaping my experience. 
							   <span itemprop="author">Maeve, MBA student</span>
							</p>
						</div>
					</div>
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
						<li data-target="#myCarousel" data-slide-to="3"></li>
						<li data-target="#myCarousel" data-slide-to="4"></li>
						<li data-target="#myCarousel" data-slide-to="5"></li>
					</ol>
					<!-- <ol>
						<li><a href="#"></a></li>
						<li><a href="#" class="active"></a></li>
						<li><a href="#"></a></li>
					</ol> -->
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonial -->
</div>
<!-- end company-stats -->
<!-- start sherpa-service -->
<div class="sherpa-service">
	<div class="container">
		<h3>Pick your Sherpa service <br>*Special discount offer for Imperial students - 10%</h3>
		<div class="row">
			<div class="col-12 col-md-4 col-lg-4">
				<div class="price-list clearfix">
					<div class="discount-card"></div>
					<h4>Search</h4>
					<h5>£199</h5>
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_box2.svg" alt="icon"></div>
							<div class="txtb">
								Prepare & Search 
							</div>
							<a href="#" class="btn-book" data-toggle="modal" data-target="#myModal">Book now</a>
						</li>
					</ul>
				</div><!-- price-list -->
				<div class="price-info clearfix">
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Avasa App
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Tenant’s Guide to a Smooth Move + Sherpa Tips 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								30-mins consultation with an expert Sherpa
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Agent outreach & coordination
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Targeted search in up to 5 areas & curated property lists
							</div>
						</li>
					</ul>
				</div><!-- price-info -->
			</div>
			<div class="col-12 col-md-4 col-lg-4">
				<div class="price-list active clearfix">
					<div class="tag">Best value</div>
					<div class="discount-card"></div>
					<h4>Find & Finalise</h4>
					<h5>£599</h5>
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_box2.svg" alt="icon"></div>
							<div class="txtb">
								Prepare & Search  
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_search2.svg" alt="icon"></div>
							<div class="txtb">
								View & Secure Lease   
							</div>
							<a href="#" class="btn-book" data-toggle="modal" data-target="#myModal">Book now</a>
						</li>
					</ul>
				</div><!-- price-list -->
				<div class="price-info clearfix">
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								<strong>Everything in Search</strong>
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Organise viewing
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Sherpa accompanied viewings
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Dedicated assistance for offer & lease negotiation
							</div>
						</li>
					</ul>
				</div><!-- price-info -->
			</div>
			<div class="col-12 col-md-4 col-lg-4">
				<div class="price-list clearfix">
					<div class="discount-card"></div>
					<h4>Relocate</h4>
					<h5>£899</h5>
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_box2.svg" alt="icon"></div>
							<div class="txtb">
								Prepare & Search 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_search2.svg" alt="icon"></div>
							<div class="txtb">
								View & Secure Lease   
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_home2.svg" alt="icon"></div>
							<div class="txtb">
								Move & Settle In   
							</div>
							<a href="#" class="btn-book" data-toggle="modal" data-target="#myModal">Book now</a>
						</li>
					</ul>
				</div><!-- price-list -->
				<div class="price-info clearfix">
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								<strong>Everything in Find & Finalise </strong> 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Move-in Welcome Pack – to get you through your home move 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Personalised moving day planner
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Managing your move-in day & helping you settle-in
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Personalised In The Neighbourhood guide
							</div>
						</li>
					</ul>
				</div><!-- price-info -->
			</div>
		</div>
	</div>
</div>
<!-- end sherpa-service -->
<!-- start footer -->
<div class="sherpa-services footer clearfix">
	<div class="container">
		<div class="footer-logo">
			<a routerLink="/"><img src="assets/images/logo_white.svg" alt="AWASA"></a>
		</div>
		<div class="footer-text clearfix">
			<p>At Avasa AI, we work to deliver the most transparent and efficient end-to-end solution for rental property search that puts tenants ﬁrst.</p>
			<p>We support you in ﬁnding properties in neighbourhoods that ﬁt your lifestyle, making the drawn-out, painful process of renting quicker, simpler and hopefully more enjoyable.  </p>
			<p>Avasa was previously known as The Urban Collective.</p>
			<!-- app_download_link -->
			<div class="app_download_link">
				<ul>
					<li><a target="_blank"  href="https://itunes.apple.com/gb/app/urbanco/id1250754314?mt=8&__hssc=157679013.9.1499435970955&__hstc=157679013.491ad065b4b918b71da45d1dbdfec8b0.1499428732458.1499428732458.1499435970955.2&__hsfp=1188821749&hsCtaTracking=e7778a35-3118-4d5a-b74d-f9189dbb38c1%7Cbf95b683-b052-4355-ae86-07d2b07c1644"><img src="assets/images/ic_app_store.png" alt="apple"></a></li>
					<li><a target="_blank"  href="https://play.google.com/store/apps/details?id=com.urbancollective"><img src="assets/images/ic_google_play.png" alt="android"></a></li>
				</ul>
			</div>
			<!-- app_download_link -->
		</div>
		<div class="footer-link">
			<h6>ABOUT</h6>
			<ul>
				<li><a routerLink="/home-search">Search</a></li>
				<li><a routerLink="/sherpa-services">Sherpa Services</a></li>
				<li><a routerLink="/area-guides">Our blog</a></li>
				<li><a routerLink="/proptech-startup">Our Story</a></li>
				<li><a routerLink="/how-it-works">Contact us </a></li>
			</ul>
		</div>
		<div class="footer-social-link">
			<h6>FOLLOW US </h6>
			<ul>
				<li><a href="http://facebook.com/AvasaAI" target="_blank"><img src="assets/images/ic_facebook.svg">Facebook</a></li>
				<li><a href="https://www.instagram.com/avasaai/" target="_blank"><img src="assets/images/ic_instagram.svg">Instagram</a></li>
				<li><a href="https://twitter.com/AvasaAI" target="_blank"><img src="assets/images/ic_twitter.svg">Twitter</a></li>
				<li><a href="https://www.linkedin.com/company/the-urban-collective/?viewAsMember=true" target="_blank"><img src="assets/images/ic_linkedin_in.svg">LinkedIn</a></li>
				<li><a href="https://www.youtube.com/channel/UCdkpG7CiG13GIfuN3efnBFg" target="_blank"><img src="assets/images/ic_youtube.svg">YouTube</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- end footer -->
<!-- start footer-bot -->
<div class="sherpa-services footer-bot clearfix">
	<div class="container">
		<ul>
			<li><a href="#">Copyright  AVASA.ltd</a></li>
			<li><a routerLink="privacy-policy">Privacy Policy</a></li>
			<li><a routerLink="terms-of-use">Terms Of Use</a></li>
			<li><a routerLink="site-map" target="_blank">Sitemap</a></li>
		</ul>
	</div>
</div>
<!-- end footer-bot -->
<!-- Modal -->
<div class="modal fade comming-soon" id="myModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-body">
    	<button type="button" class="close" data-dismiss="modal">&times;</button>
    	<img src="assets/images/Coming-Soon.jpg" alt="Coming-Soon">
    </div>
  </div>
  
</div>
</div>


