<app-header></app-header>
<!-- start banner -->
<div class="privacy-statements banner">
	<!-- search-info -->
	<div class="search-info">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<h2>Mobile App</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- search-info -->
</div>
<!-- end banner -->
<div class="mobile-app-content">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8 col-lg-9">
				<h1>AVASA</h1>
				<h2>A smart home rental search app, made for tenants in London.</h2>
				<p>Finding a rental property has never been so easy!</p>
				<ul>
					<li>Optimise your commute time, so you can enjoy your new home and neighbourhood </li>
					<li>Find properties with parks, restaurants, schools just around the corner </li>
					<li>Stick to your budget </li>
					<li>Create your own shortlist and personal ratings</li>
					<li>Share your search with friends, family and flatmates for quicker decision-making</li>
				</ul>
				<p>For extra help, contact your local expert ("Sherpa") to find the right home for you.</p>
				<p>Get Avasa and start searching now! <span>(PS: It's free..)</span> </p>
			</div>
			<div class="col-12 col-md-4 col-lg-3">
				<div class="imgb">
					<img src="assets/images/TUC_Gif2.gif" alt="AWASA">
				</div>
				<div class="app_download_link">
					<ul>
						<li><a target="_blank"  href="https://itunes.apple.com/gb/app/urbanco/id1250754314?mt=8&__hssc=157679013.9.1499435970955&__hstc=157679013.491ad065b4b918b71da45d1dbdfec8b0.1499428732458.1499428732458.1499435970955.2&__hsfp=1188821749&hsCtaTracking=e7778a35-3118-4d5a-b74d-f9189dbb38c1%7Cbf95b683-b052-4355-ae86-07d2b07c1644"><img src="assets/images/ic_app_store.png" alt="apple"></a></li>
						<li><a target="_blank"  href="https://play.google.com/store/apps/details?id=com.urbancollective"><img src="assets/images/ic_google_play.png" alt="android"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- start footer -->
<app-footer></app-footer>