/* commun css */
body {
 	background:#fff;
	font-family: 'Rubik', sans-serif !important;
	font-size:12px;
	color:#000;
}
a:hover {
	text-decoration: none !important;
}
ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik', sans-serif !important; 
	margin-top: 20px;
    margin-bottom: 10px ;
}

/* fonts */
@font-face {
	font-family: 'Conv_FontsFree-Net-ProximaNova-Regular';
	/*src: url('../fonts/FontsFree-Net-ProximaNova-Regular.eot');*/
	/*src: local('?'), url('../fonts/FontsFree-Net-ProximaNova-Regular.woff') format('woff'), url('../fonts/FontsFree-Net-ProximaNova-Regular.ttf') format('truetype'), url('../fonts/FontsFree-Net-ProximaNova-Regular.svg') format('svg');*/
	font-weight: normal;
	font-style: normal;
}
/* Header */
.header {
	position: relative;
	z-index: 1;
}
/* Logo */
.header .logo {
	padding: 41px 0 0 0;
	float: left;
}
.header .logo img{
	width: 124px;
	height: auto;
}

/* ====== Navigation ====== */

.navigation  {
	text-align: right;
	padding: 50px 0 0 0 !important;
	float: left;
}
.navigation .nav-link {
	width: 26px;
	height: 21px;
	float: right;
	display: none;
	margin-top: -57px;
}
.navigation li {
	display: inline-block;
	font-size: 14px;
	padding-left: 14px;
	text-shadow: rgba(0,0,0,0.9)0px 1px 2px;
	line-height: 38px;
	font-weight: 500;
	position: relative;
	padding-bottom: 9px;
}
.navigation li a {
	color: #fff;
	position: relative;
}
.navigation li:hover a::before,
.navigation li.active a::before {
	content: '';
	width: 100%;
	height: 4px;
	background: #49c6de;
	border-radius: 4px;
	position: absolute;
	left: 0;
	bottom: -13px;
	z-index: 1;
}
.navigation li:hover ul {
	display: block;
}
.navigation li ul {
	background: #eceae8;
	border-radius: 3px;
	min-width: 150px;
	padding: 0 10px;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 1;
	display: none;
}
.navigation li ul li {
	display: block;
	text-align: left;
	text-shadow: none;
	border-bottom: #e3e1e0 1px solid;
	padding: 0 10px 0 7px;
}
.navigation li ul li:last-child {
	border-bottom: none;
}
.navigation li ul li a {
	/*background: url(../images/ic_arrow_right.svg) no-repeat right center;*/
	color: #404040;
	display: block;
}
.navigation li ul li:hover a::before,
.navigation li:hover ul li a::before {
	background: transparent;
}

/* app_download_link */
.navigation .app_download_link {
	/*background: #004d87;
	padding: 0 13px 0 10px;
	line-height: 38px;
	float: right;
	color: #49c6de;
	text-decoration: none;
	border-radius: 5px;
	text-align: right;*/
	margin: 0 0 0 18px;
	/*box-shadow: rgba(0,0,0,0.5)0px 1px 2px;*/
}
.navigation .app_download_link ul {
	float: right;
}
.navigation .app_download_link li {
	padding-left: 8px !important;
	margin-top: 0;
	text-shadow: none;
}
.navigation .app_download_link li img {
	/*width: 16px;*/
	height: 38px;
}
.navigation .app_download_link li:hover a::before {
	background: transparent;
}
.header .header-in{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 2;
}

.admin-header {
	background: #eeecec;
	width: 100%;
	height: 72px;
	position: fixed;
	top: 0;
	z-index: 2;
}
.setting-info {
	background: #014c85;
	z-index: 2;
}
.setting-info .navigation {
	padding-top: 17px !important;
}

.admin-header .row {
	margin-right: 0;
	margin-left: 0;
}
.admin-header .admin-logo {
	background: #014c85;
	height: 72px;
	text-align: center;
}
.admin-header .admin-logo img {
	width: 100px;
	margin-top: 11px;
}
.setting-info .navigation .user-info {
	float: right;
}
.setting-info .navigation .user-info li {
	float: left;
}
.setting-info .navigation .user-info li .imgb {
	width: 40px;
	height: 40px;
}
.setting-info .navigation .user-info li .imgb img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.setting-info .navigation .user-info li .dropdown {
	width: auto !important;
	float: left;
    margin-right: 15px;
    padding-top: 10px;
}
.setting-info .navigation .user-info li i {
	font-size: 20px;
	color: #fff;
	line-height: 40px;
	position: relative;
}
.setting-info .navigation .user-info li .dropdown i {
	line-height: 20px !important;
}
.setting-info .navigation .user-info li .dropdown .badge {
	background-color: #63cee2;
	color: #fff;
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	font-size: 11px;
}
.setting-info .navigation .user-info li:hover a::before{
	background: transparent;
}
.setting-info .navigation .user-info ul ul {
	left: inherit;
	right: 0 !important;
	top: 80% !important;
}
.setting-info .navigation .user-info ul ul li {
	width: 440px;
}
.setting-info .navigation .user-info ul ul li {
	background: #fff;
	font-size: 12px;
	line-height: 16px;
	padding: 5px 10px;
	color: #2d3536;
}
.setting-info .navigation .user-info ul ul li a {
	background:none;
	display: inline-block;
	color: #63cee2;
}
.setting-info .navigation .user-info ul ul li p {
	margin-bottom: 0;
}

.avasaApp-container {
	padding: 72px 0 0 0;
	position: relative;
	z-index: 1;
	height: 100%;
}

/* avasa-left-panel */
.avasa-left-panel {
	background: #63cee2;
	height: 100%;
	padding-top: 72px;
	overflow-x: auto;
	position: fixed !important;
	left: 0;
	top: 0;
	z-index: 1;
}
.avasa-left-panel ul {
	border-top: #98b8d0 1px solid;
	width: 100%;
	height: 100%;
}
.avasa-left-panel li {
	height: 48px;
	font-size: 18px;
}
.avasa-left-panel li i {
	margin-right: 10px;
}
.avasa-left-panel li a {
	color: #fff;
	display: block;
	line-height: 48px;
	padding: 0 15px;
}
.avasa-left-panel li a:hover,
.avasa-left-panel li.active a {
	background:#014c85;
}

/* avasa-right-panel */
.avasa-right-panel .setting-detail {
	width: 100%;
    padding: 25px;
}
.avasa-right-panel .setting-detail h3 {
	font-size: 40px;
	color: #014c85;
}
.avasa-right-panel .setting-detail h4 {
	background: #cbf2f9;
	color: #2d3536;
	padding: 10px 25px;
	margin: 0 -25px;
}
.avasa-right-panel .setting-detail .column {
	width: 25%;
	float: left;
	border-left: #004d88 1px solid;
	padding: 20px 20px;
	margin: 10px 0;
}
.setting-call-detail .card {
	margin-bottom: 25px;
}
/* My Calender Detail */
.setting-call-detail .blue-card {
	padding: 20px;
	border-radius: 40px;
	background: #cbf2f9;
	width: 50%;
	margin-bottom: 10px;
	text-align: center;
}
.setting-call-detail .blue-card p {
	font-size:18px;
	line-height: 20px;
	margin: 0;
	font-weight: 600;
}
.setting-call-detail .btn-see-more {
    color: #707070;
    font-size: 18px;
    line-height: 47px;
    float: right;
    text-decoration: underline;
}