.admin-header {
	background: #eeecec;
	width: 100%;
	height: 72px;
	position: fixed;
	top: 0;
	z-index: 2;
}
.setting-info {
	background: #014c85;
	z-index: 2;
}
.setting-info .navigation {
	padding-top: 17px !important;
}

.admin-header .row {
	margin-right: 0;
	margin-left: 0;
}
.admin-header .admin-logo {
	background: #014c85;
	height: 72px;
	text-align: center;
}
.admin-header .admin-logo img {
	width: 100px;
	margin-top: 11px;
}
.setting-info .navigation .user-info {
	float: right;
}
.setting-info .navigation .user-info li {
	float: left;
}
.setting-info .navigation .user-info li .imgb {
	width: 40px;
	height: 40px;
}
.setting-info .navigation .user-info li .imgb img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.setting-info .navigation .user-info li .dropdown {
	width: auto !important;
	float: left;
    margin-right: 15px;
    padding-top: 10px;
}
.setting-info .navigation .user-info li i {
	font-size: 20px;
	color: #fff;
	line-height: 40px;
	position: relative;
}
.setting-info .navigation .user-info li .dropdown i {
	line-height: 20px !important;
}
.setting-info .navigation .user-info li .dropdown .badge {
	background-color: #63cee2;
	color: #fff;
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	font-size: 11px;
}
.setting-info .navigation .user-info li:hover a::before{
	background: transparent;
}
.setting-info .navigation .user-info ul ul {
	left: inherit;
	right: 0 !important;
	top: 80% !important;
}
.setting-info .navigation .user-info ul ul li {
	width: 440px;
}
.setting-info .navigation .user-info ul ul li {
	background: #fff;
	font-size: 12px;
	line-height: 16px;
	padding: 5px 10px;
	color: #2d3536;
}
.setting-info .navigation .user-info ul ul li a {
	background:none;
	display: inline-block;
	color: #63cee2;
}
.setting-info .navigation .user-info ul ul li p {
	margin-bottom: 0;
}

/* review-property-details page */
.review-property-details {
	padding: 30px 0;
}
.review-property-details p{
	margin: 0;
}
.review-property-details .main-heading {
	padding: 0 0 20px 0;
}
.review-property-details .main-heading h2 {
	font-size: 43px;
	color: #014C85;
	font-weight: 400;
}
.review-property-details .main-heading h2 i {
	position: relative;
	top: -5px;
	z-index: 1;
}
.review-property-details .main-heading .total-rating {
	float: right;
	font-size: 35px;
}
.review-property-details .main-heading .total-rating a {
	color: #757575;
}
.review-property-details .main-heading .total-rating img {
	width: 35px;
	position: relative;
	top: -4px;
}
.review-property-details .property-location .imgb {
	width: 40%;
	float: left;
}
.review-property-details .property-location .imgb img {
	width: 100%;
}
.review-property-details .property-location .imgb p {
	font-size: 16px;
	color: #014C85;
	margin: 10px 0;
	line-height: 20px;
}
.review-property-details .property-location .imgb p span {
	float: right;
	color: #757575;
	font-size: 9px;
}
.review-property-details .property-location .txtb {
	width: 60%;
	float: left;
	padding: 0 0 0 20px;
}
.review-property-details .property-location .txtb p {
	font-size: 21px;
	line-height: 34px;
	color: #757575;
	margin: 0;
}
.review-property-details .property-location .txtb p strong span {
	font-size: 16px;
}
.review-property-details .property-location .txtb p samp {
	float: right;
	font-size: 21px;
	color: #014C85;
}

/* property-location-map */
.review-property-details .property-location-map {
	padding: 20px 0;
}
.review-property-details .map-column {
	width: 70%;
	float: left;
}
.review-property-details .map-column iframe {
	width: 100%;
	height: 142px;
}
.review-property-details .map-column {
	font-size: 21px;
	color: #757575;
	line-height: 40px;
}
.review-property-details .map-column .google-map-box{
   height: 230px;
}
.review-property-details .map-column-btn {
	width: 30%;
	float: left;
   text-align: right;
   padding-top: 45px;
}
.review-property-details .map-column-btn .btn {
	width: 188px;
	height: 58px;
	font-size: 19px;
	color: #fff;
	border-radius: 10px;
	background: #014C85;
	border:none;
	text-align: center;
	line-height: 58px;
	margin-bottom: 15px;
	display: inline-block;
	padding: 0;
}
.review-property-details .property-discription {
	border:#37C8E2 1px solid;
	padding: 10px;
	margin-bottom: 20px;
}
.review-property-details .property-discription p {
	font-size: 20px;
	color: #757575;
	line-height: 25px;
}
.review-property-details .property-moreinfo {
	background-color: #CBF2F9 ;
	padding: 20px 0;
}
.review-property-details .property-moreinfo h3 {
	color: #014C85;
	font-size: 35px;
	font-weight: 400;
}
.review-property-details .property-moreinfo h4 {
	font-size: 30px;
	padding: 10px 0;
	line-height: 32px;
	font-weight: 400;
}
.review-property-details .property-moreinfo h4 a {
	color: #757575;
}
.review-property-details .property-moreinfo h4 i {
	color: #014C85;
}
.review-property-details .property-moreinfo h4.active .fa-angle-down:before {
	content: '\f106';
}
/* property-comments */
.review-property-details .property-comments {
	background-color: #CBF2F9;
	margin: 20px 0;
	padding: 20px;
}
.review-property-details .property-comments h3 {
	font-size: 35px;
	color: #014C85;
	line-height: 42px;
	font-weight: normal;
	margin-bottom: 15px;
}
.review-property-details .property-comments .btn {
	width: 188px;
	height: 42px;
	font-size: 19px;
	color: #fff;
	border-radius: 10px;
	background: #014C85;
	border:none;
	text-align: center;
	line-height: 42px;
	float: right;
	padding: 0;
}
.review-property-details .property-comments .txtb {
	font-size: 21px;
	color: #757575;
	line-height: 24px;
	margin-bottom: 25px;
}
.review-property-details .property-comments .txtb p {
	margin: 0;
}
.review-property-details .property-comments .txtb h4 {
	font-weight: normal;
	color: #014C85;
	margin: 0;
}
.review-property-details .property-comments .txtb h4 img {
	position: relative;
	top: -3px;
}
.review-property-details .property-signature {
	font-size: 21px;
	color: #757575;
	padding: 25px 0;
}
.review-property-details .property-signature p{
	padding-bottom: 10px;
}
.review-property-details .property-comments .comments-list li{
	width: auto;
    height: 42px;
    font-size: 19px;
    color: #fff;
    border-radius: 10px;
    background: #49c6de;
    border: none;
    text-align: center;
    line-height: 42px;
    padding: 0 10px;
    display: inline-block;
    margin: 5px;
}

/* review-property-modal */
.review-property-modal .modal-content {
	background: #EEFCFF;
	border:none;
}
.review-property-modal .modal-header {
	border-bottom:none !important;
}
.review-property-modal .modal-header h4,
.review-property-modal.modal2 .modal-body h4 {
	font-size: 36px;
	color: #014C85;
	font-weight: 300;
	text-align: center;
	width: 100%;
}
.review-property-modal .modal-dialog {
	max-width: 873px;
}
.review-property-modal .rating-column {
	text-align: center;
}
.review-property-modal .rating-column li {
	display: inline-block;
	padding: 0 3px;
}
.review-property-modal .rating-column li img {
	width: 63px;
	height: 63px;
}
.review-property-modal .btn {
	font-size: 19px;
	color: #fff;
	background: #014C85;
	display: inline-block;
}
.review-property-modal .modal-footer {
	text-align: center;
	border-top: none;
	float: none;
	display: block !important;
    display: block !important;
    display: block;
}
.review-property-modal .modal-dialog {
	position: relative;
	top: 50%;
	transform: translateY(-50%) !important;
}
.review-property-modal.modal2 .modal-body {
	padding: 0 10%;
	text-align: center;
}
.review-property-modal.modal2 li {
	display: inline-block;
	padding: 10px;
}
.review-property-modal.modal2 li .selector {
	min-width: 96px;
	height: 58px;
	font-size: 19px;
	line-height: 58px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	position: relative;
	display: inline-block;
}
.review-property-modal.modal2 li .selector::before {
	background:#49c6de;
}
.review-property-modal.modal2 li input[type=checkbox]:checked ~ .selector::before{
	background:#316a99;
}
.review-property-modal.modal2 li input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.review-property-modal.modal2 li .checkmark {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
  	background-color: #49c6de;
  	border-radius: 4px;
  	display: block;
  	padding: 0 10px;
}
.review-property-modal.modal2 li input:checked ~ .checkmark {
  background-color: #316a99;
}
.review-property-modal.modal2 .textarea {
	font-size: 12px;
	color: #757575;
	line-height: 14px;
	padding: 10px;
	min-height: 118px;
	width: 100%;
	border:#014C85 1px solid;
	margin-bottom: 10px;
}

.google-map-box,
.google-map-box #map {
   height: 100%;
   width: 100%;
   position: relative;
   z-index: 1;
}
.gmnoprint,
.gm-control-active {
   display: none;
}

.map-header {
  background: #49c6de;
   width: 100%;
   position: fixed;
   top: 0;
   z-index: 3;
}
.map-header .header-in{
   height: 105px;
   position: relative;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 2;
}
.map-header .logo {
   padding: 21px 0 0 0;
   float: left;
}
.map-header .logo img{
   width: 124px;
   height: auto;    
   margin: 0 0 0 40px;
}
.map-header .navigation  {
   text-align: right;
   padding: 32px 0 0 0 !important;
   float: left;
}
.map-header .navigation li {
   font-size: 18px;
   text-shadow: none;
}
.map-header .navigation a {
   color: #fff;
}
.navigation li ul li a {
  color: #404040 !important;
}

@media only screen and (max-width: 960px) {
   .map-header .logo {
	   padding: 25px 0 0 0;
   }
   .map-header .navigation {
	   padding-top: 34px !important;
   }
}
@media only screen and (max-width: 767px) { 
   .map-header .navigation .nav-link {
	   margin-top: -88px;
   }
   .map-header .nav-box .nav-link {
	   margin-top: -34px;
   }
}

/* map-column-left */
.map-column-left,
.map-column-detail {
   background: #eaf8fc;
   width: 320px;
   /*min-height: 564px;*/
   height: 70%;
   overflow: auto;
   padding: 25px 25px 0 25px;
   border-radius: 10px;
   position: fixed;
   top: 120px;
   left: 20px;
   z-index: 2;
   box-shadow: rgba(162, 162, 162, .37) 8px 5px 5px;
}
.map-column-detail {
   padding: 54px 0 20px 25px;
   overflow: inherit !important;
}
.map-column-detail-in {
   padding: 0 25px 25px 0;
   overflow: auto;
   height: 460px;
}
.map-column-detail-in.pt0 {
   padding-top: 0;
}
.map-column-left {
  padding: 25px 0 0 0;
}
.map-column-left li {
  font-size: 18px;
  line-height: 40px;
  padding: 0 25px;
  font-weight: 500;
  display: block;
}
.map-column-left li a {
 background:url(../../../../assets/images/ic_arrow_down_black.svg) no-repeat right center; 
 display: block;
 background-size: 15px;
}
.map-column-left li.active {
 background-color: #49c6de;
}
.map-column-left li.active a {
 background:url(../../../../assets/images/ic_arrow_right_black.svg) no-repeat right center ;
 color: #fff;
 background-size: 10px;
}
.map-column-left li a {
   color: #004d87;
   display: block;
}
.map-column-detail {
   left: 360px;
}
.map-column-detail .input-box {
   background: #49c6de;
   width: 100%;
   height: 35px;
   font-size: 14px;
   color: #eaf8fc;
   line-height: 35px;
   border-radius: 5px;
   padding: 0 10px;
   border:none;
   margin-bottom: 10px;
}
.map-column-detail .transport-info {
   padding: 10px 0 0 0;
}
.map-column-detail li {
   float: left;
   position: relative;
   margin:0 7px;
}
.map-column-detail li input[type=radio]{
   position: absolute;
   visibility: hidden;
}
.map-column-detail li .selector {
   width: 70px;
   height: 70px;
   font-size: 9px;
   cursor: pointer;
   vertical-align: bottom;
   text-align: center;
   color: #004d87;
   position: relative;
}
.map-column-detail li .selector .txtb {
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 5;
}
.map-column-detail li .check{
   display: block;
   position: absolute;
   border-radius: 4px;
   height: 50px;
   width: 70px;
   top: 0;
   left: 0;
   z-index: 5;
   transition: border .25s linear;
   -webkit-transition: border .25s linear;
}
.map-column-detail li .check::before {
   background-size:  auto 80%;
   height: 50px;
   width: 70px;
   position: absolute;
   content: '';
   border-radius: 4px;
   top: 0;
   left: 0;
   margin: auto;
   transition: background 0.25s linear;
   -webkit-transition: background 0.25s linear;
}
.map-column-detail li .transport::before {
   background:url(../../../../assets/images/public_transport.svg) no-repeat center center #fff;
   background-size:  auto 80%;
}
.map-column-detail li input[type=radio]:checked ~ .transport::before{
   background:url(../../../../assets/images/public_transport_hover.svg) no-repeat center center #49c6de; 
   background-size:  auto 80%;
}
.map-column-detail li .driving::before {
   background:url(../../../../assets/images/driving.svg) no-repeat center center #fff;
   background-size:  auto 80%;
}
.map-column-detail li input[type=radio]:checked ~ .driving::before{
   background:url(../../../../assets/images/driving_hover.svg) no-repeat center center #49c6de; 
   background-size:  auto 80%;
}
.map-column-detail li .walking::before {
   background:url(../../../../assets/images/walking.svg) no-repeat center center #fff;
   background-size:  auto 80%;
}
.map-column-detail li input[type=radio]:checked ~ .walking::before{
   background:url(../../../../assets/images/walking_hover.svg) no-repeat center center #49c6de; 
   background-size:  auto 80%;
}
.map-column-detail li .home::before {
   background:url(../../../../assets/images/house.svg) no-repeat center center #fff;
   background-size:  auto 80%;
}
.map-column-detail li input[type=radio]:checked ~ .home::before{
   background:url(../../../../assets/images/house_hover.svg) no-repeat center center #49c6de; 
   background-size:  auto 80%;
}
.map-column-detail li .flat::before {
   background:url(../../../../assets/images/flat.svg) no-repeat center center #fff;
   background-size:  auto 80%;
}
.map-column-detail li input[type=radio]:checked ~ .flat::before{
   background:url(../../../../assets/images/flat_hover.svg) no-repeat center center #49c6de; 
   background-size:  auto 80%;
}
.map-column-detail li .all::before {
   background:url(../../../../assets/images/all.svg) no-repeat center center #fff;
   background-size:  auto 80%;
}
.map-column-detail li input[type=radio]:checked ~ .all::before{
   background:url(../../../../assets/images/all_hover.svg) no-repeat center center #49c6de; 
   background-size:  auto 80%;
}
.map-column-detail li .furnished::before {
   background:url(../../../../assets/images/furnished.svg) no-repeat center center #fff;
   background-size:  auto 80%;
}
.map-column-detail li input[type=radio]:checked ~ .furnished::before{
   background:url(../../../../assets/images/furnished_hover.svg) no-repeat center center #49c6de; 
   background-size:  auto 80%;
}
.map-column-detail li .semi::before {
   background:url(../../../../assets/images/semi_furnished.svg) no-repeat center center #fff;
   background-size:  auto 80%;
}
.map-column-detail li input[type=radio]:checked ~ .semi::before{
   background:url(../../../../assets/images/semi_furnished_hover.svg) no-repeat center center #49c6de; 
   background-size:  auto 80%;
}
.map-column-detail li .unfurnished::before {
   background:url(../../../../assets/images/un_furnished.svg) no-repeat center center #fff;
   background-size:  auto 80%;
}
.map-column-detail li input[type=radio]:checked ~ .unfurnished::before{
   background:url(../../../../assets/images/un_furnished_hover.svg) no-repeat center center #49c6de; 
   background-size:  auto 80%;
}

.map-column-detail li .outdoor::before {
   background:url(../../../../assets/images/garden.svg) no-repeat center center #fff;
   background-size:  auto 80%;
}
.map-column-detail li input[type=radio]:checked ~ .outdoor::before{
   background:url(../../../../assets/images/garden_hover.svg) no-repeat center center #49c6de; 
   background-size:  auto 80%;
}
.map-column-detail li .balcony::before {
   background:url(../../../../assets/images/balcony.svg) no-repeat center center #fff;
   background-size:  auto 80%;
}
.map-column-detail li input[type=radio]:checked ~ .balcony::before{
   background:url(../../../../assets/images/balcony_hover.svg) no-repeat center center #49c6de; 
   background-size:  auto 80%;
}
.map-column-detail li .parking::before {
   background:url(../../../../assets/images/parking.svg) no-repeat center center #fff;
   background-size:  auto 80%;
}
.map-column-detail li input[type=radio]:checked ~ .parking::before{
   background:url(../../../../assets/images/parking_hover.svg) no-repeat center center #49c6de; 
   background-size:  auto 80%;
}
.map-column-detail .furnishing li .selector,
.map-column-detail .furnishing li .check {
   width: 50px;
   height: 70px;
}
.map-column-detail .furnishing li .check::before {
   width: 50px;
}
.map-column-detail .furnishing li {
   margin:0 5px;
}

.map-column-detail .input-box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: #eaf8fc;
 opacity: 1; /* Firefox */
}
.map-column-detail .input-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #eaf8fc;
}
.map-column-detail .input-box::-ms-input-placeholder { /* Microsoft Edge */
   color: #eaf8fc;
}
.map-column-detail .input-box:focus {
   outline: none;
}
.map-column-detail h3 {
   font-size: 14px;
   color: #004d87;
   text-align: center;
   font-weight: bold;
   margin-bottom: 10px;
}
.map-column-detail h3.mb0 {
   margin-bottom: 0 !important;
}
.map-column-detail .commute-time-col {
   padding: 10px 0 25px 25px;
}
.map-column-detail .commute-time-col h3 {
   text-align: left;
}
.map-column-detail .commute-time-col .imgb,
.map-column-detail .commute-time-col .imgb img {
   width: 30px;
   height: 30px;
   float: left;
}
.map-column-detail .commute-time-col span {
   width: 165px;
   font-size: 18px;
   color: #004d87;
   line-height: 30px;
   float: left;
   padding: 0 10px;
   text-align: center;
}
.map-column-detail .commute-time-col .w85 {
  width:85px;
  padding: 0 5px;
}
.map-column-detail .submit-btn {
   /* background: #49c6de; */
   background: #004d87;
   font-size: 14px;
   color: #eaf8fc;
   line-height: 30px;
   padding: 0 20px;
   border:none;
   border-radius: 4px;
   display: inline-block;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   cursor: pointer;
}
.map-column-detail .next-prev {
  width: 100%;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  text-align: right;
}
.map-column-detail .next-prev .submit-btn {
  margin-left: 10px;
  left: 0;
  transform: none;
}
.map-column-detail.price-detail {
   text-align: left;
}
.map-column-detail.price-detail h3 {
   text-align: left;
}
.map-column-detail.price-detail .commute-time-col {
   width: 50%;
   float: left;
   padding: 10px 0 15px 0;
}
.map-column-detail.price-detail .commute-time-col .imgb, 
.map-column-detail.price-detail .commute-time-col .imgb img {
   width: 20px;
   height: 20px;
}
.map-column-detail.price-detail .commute-time-col span {
   font-size: 14px;
   line-height: 20px;
}

.range-slider-col {
   padding: 20px 0 10px 0;
}
.range-slider-col .slider.slider-horizontal {
   width: 95%;
   height: 2px !important;
   margin-left: 4%;
}
.range-slider-col .slider.slider-horizontal .slider-track {
   height: 2px !important;
   width: 100%;
   margin-top: -5px;
   top: 50%;
   left: 0;
}
.range-slider-col .slider-selection {
   background: #49c6de;
}
.range-slider-col .slider-handle {
   background: #fff !important;
   border:2px solid #49c6de !important;
   margin-top: -13px !important;
}
.range-slider-col .label {
   width: 20%;
   font-size:12px ;
   color: #004d87;
   line-height: 12px;
   padding: 15px 0 0 0;
   float: left;
}
.range-slider-col .label.pl10{
   padding-left: 16px;
}
.range-slider-col .label.pl20{
   padding-left: 26px;
}
.range-slider-col .label.pr10{
   padding-right: 10px;
}

.owl-carousel .owl-nav .owl-prev {
   display: none;
}
.map-property-list {
      width: 97.5%;
      position: fixed;
      bottom: 40px;
      left: 50%;
      z-index: 3;
      transform: translateX(-50%);
   }
   .map-property-list .owl-item {
      padding-bottom: 10px;
   }
   .map-property-list .item {
      background: #004d87;
      /*width: 296px;*/ width: 100%;
      height: 110px;
      border-radius: 10px;
      padding: 15px;
      position: relative;
      box-shadow: rgba(0, 0, 0, .50) 5px 5px 5px;
   }
   .map-property-list .owl-nav,
   .map-property-list .owl-dots {
      display: none;
   }
   .map-property-list .item .cross-btn {
      width: 10px;
      height: 10px;
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 1;
   }
   .map-property-list .item .cross-btn i {
      color: #fff;
      font-size: 14px;
   }
   .map-property-list .imgb {
      width: 40%;
      height: 100%;
      float: left;
   }
   .map-property-list .imgb img {
      width: 100%;
      height: 100%;
   }
   .map-property-list .txtb {
      float: left;
      width: 60%;
      padding: 0 0 0 10px;
   }
   .map-property-list .txtb h4 {
      font-size: 14px;
      color: #eaf8fc;
      font-weight: 400;
   }
   .map-property-list .txtb p {
      font-size: 13px;
      color: #eaf8fc;
      line-height: 13px;
      margin-bottom: 0.4rem;
   }
   .map-property-list .txtb span {
      font-size: 12px;
      display: block;
   }
   .map-property-list .txtb li {
      font-size: 12px;
      float: left;
      padding: 0 5px;
      line-height: 14px;
      border-left: 1px solid #eaf8fc;
   } 
   .map-property-list .txtb li:first-child {
      border-left:none;
      padding-left: 0;
   }
   .map-property-list .txtb li a {
      color: #eaf8fc;
   }
   
   .map-column-detail .property-info li {
      width: 50%;
      float: left;
      margin: 0 0 5px 0;
      position: relative;
   }
   .map-column-detail .property-info li.w100 {
      width: 100%;
   }
   .map-column-detail .property-info li.w100 .selector {
      width: 98%;
   }
   .map-column-detail .property-info li .selector {
      width: 95%;
      height: 30px;
      font-size: 14px;
      line-height: 14px;
      cursor: pointer;
      text-align: center;
      color: #fff;
      position: relative;
   }
   .map-column-detail .property-info li .selector::before {
      background:#49c6de;
   }
   .map-column-detail .property-info li input[type=checkbox]:checked ~ .selector::before{
      background:#316a99;
   }
   .map-column-detail .property-info li input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
   }
   .map-column-detail .property-info li .checkmark {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
        background-color: #49c6de;
        border-radius: 4px;
   }
   .map-column-detail .property-info li input:checked ~ .checkmark {
     background-color: #316a99;
   }
   h1, h2, h3, h4, h5, h6 {
      font-family: 'Rubik', sans-serif !important;
      margin-top: 0;
      margin-bottom: 0;
  }
   
  .owl-nav{
     display: none !important;
   }
@media only screen and (min-width: 961px) and (max-width: 1200px) { 
  .map-property-list .txtb h4 {
	font-size: 12px;
   }
   .map-property-list .txtb p {
      font-size: 12px;
      line-height: 12px;
   }
   .map-property-list .txtb span {
      font-size: 10px;
   }
   .map-property-list .txtb li {
      font-size: 10px !important;
   }
  }

  /* map-property-list-view */
.map-property-list-view {
	background: #eaf8fc;
    width: 72%;
    /* min-height: 564px; */
    height: 80%;
    overflow: auto;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
    position: fixed;
    top: 120px;
    left: 360px;
    z-index: 2;
    box-shadow: rgba(162, 162, 162, .37) 8px 5px 5px;
}
.map-property-list-view-in {
    padding: 0;
    overflow: auto;
    height: 100%;
}
.map-property-list-view .property-list-detail {
	margin-bottom: 50px;
}
.map-property-list-view .property-col-li {
   margin-bottom: 20px;
}
.map-property-list-view .img-box {
	background: #004d87;
    padding: 15px;
	width: 200px;
	min-height: 180px;
	float: left;
	border-radius: 5px;
	text-align: center;
	margin-right: 15px;
}
.map-property-list-view .img-box img {
	width: 100%;
	height: auto;
}
.map-property-list-view h3 {
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	padding-top: 5px;
	margin: 0;
}
.map-property-list-view .txtb {
	background: #004d87;
	width: 76%;
	min-height: 180px;
    padding: 20px 15px;
    float: left;
	border-radius: 5px;
}
.map-property-list-view .column-left ,
.map-property-list-view .column-right {
	width: 50%;
	float: left;
}
.map-property-list-view .column-right {
	text-align: right;
}
.map-property-list-view .txtb h4 {
	font-size: 14px;
	color: #fff;
}
.map-property-list-view .txtb h4 strong {
	font-size: 15px;
	font-weight: 400;
}
.map-property-list-view .txtb p {
	font-size: 13px;
	margin: 0;
	color: #fff;
	line-height: 14px;
}
.map-property-list-view .txtb .gap {
	min-height: 76px;
	display: table;
	width: 100%;
}
.map-property-list-view .txtb .gap div {
	display: table-cell;
	vertical-align: bottom;
	text-align: right;
}
.map-property-list-view .txtb p a {
	color: #49c6de;
}
.map-property-list-view .txtb p.ic-train {
	background:url(../../../../assets/images/public_transport_hover.svg) no-repeat left top; 
	background-size: 25px;
	font-size: 14px;
	line-height: 25px;
	padding-left: 25px;
	padding-bottom: 15px;
}
.map-property-list-view .txtb p sub {
	margin-top: 15px;
	display: block;
}
.map-property-list-view .column-right p.ic-train {
	background: none;
}

/* map-property-detail */
.map-property-detail {
	background: #eaf8fc;
	width: 52%;
	height: 95%;
	overflow: auto;
	padding: 125px 0 25px 0;
	border-radius: 10px;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 2;
	box-shadow: rgba(162, 162, 162, .37) 8px 5px 5px;
}
@media only screen and (max-width: 767px){
	.map-property-detail{
		width: 93%;
	}
}
.map-property-detail-in {
	height: 100%;
	overflow: auto;
	padding: 0 25px 0 25px;
}
.map-property-detail .back-arrow {
	background:url(../../../../assets/images/arrow_back.svg) no-repeat center center #004d87;
	background-size: auto 60%; 
	width: 78px;
	height: 45px;
	border-radius: 5px;
	/* position: absolute; */
	right: 52px;
	top: 50px;
   z-index: 1;
}
.map-property-detail .slider-box {
	text-align: center;
}
.map-property-detail .slider-box h3 {
	background: #004d87;
	font-size: 20px;
	color: #eaf8fc;
	border-radius: 5px;
	padding: 5px 10px;
	margin:0 0 20px 0;
	display: inline-block;
	font-weight: 400;
}
.map-property-detail .txtb h3,
.map-property-detail .txtb h4 {
	font-size: 25px;
	color: #004d87;
	font-weight: 400;
	margin-bottom: 0;
}
.map-property-detail .txtb h4 {
	padding-bottom: 10px;
}
.map-property-detail .txtb p {
	font-size: 18px;
	color: #004d87;
	margin: 0;
	line-height: 18px;
	padding-bottom: 10px;
}
.map-property-detail .txtb p strong {
	display: block;
	font-weight: 400;
	display: block;
}
.map-property-detail .submit-btn.mt-20{
	margin-top: 20%;
}
.map-property-detail .submit-btn {
	background: #49c6de;
	color: #004d87;
	font-size: 13px;
	line-height: 20px;
	padding: 10px 5px;
	display: inline-block;
	border-radius: 5px;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}
.map-property-detail .flexslider {
	background: #004d87;
	width: 90%;
	border: #004d87 3px solid;
	border-radius: 8px;
	margin: 0 auto;
	height: auto !important;
}
.map-property-detail .flexslider li {
	margin: 0 !important;
	height: auto !important;
}
.map-property-detail .slides li img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	height: auto;
}
.map-property-detail .flexslider .flex-direction-nav {
	display: none;
}
.map-property-detail .thumbnail {
	background: none;
	width: 82%;
	border:none;
	margin-top: 25px;
	margin-bottom: 25px;
	position: relative;
}

.map-property-detail .thumbnail li {
	width: 180px !important;
	margin: 0 15px 0 12px !important;
}
.map-property-detail .thumbnail .flex-direction-nav {
	display: block;
}
.map-property-detail .thumbnail .flex-nav-prev a,
.map-property-detail .thumbnail .flex-nav-next a {
	width: 18px !important;
	height: 29px !important;
	position: absolute;
	top: 50%;
	z-index: 1;
	text-indent: -999999px;
	transform: translateY(-50%);
}
.map-property-detail .thumbnail .flex-nav-prev a {
	background:url(../../../../assets/images/ic_arrow_slider_left.svg) no-repeat left top; 
	left: -20px;
}
.map-property-detail .thumbnail .flex-nav-next a {
	background:url(../../../../assets/images/ic_arrow_slider_right.svg) no-repeat left top; 
	right: -20px;
}

  
