<div class="admin-header setting-info">
  <div class="row">
    <!-- logo -->
    <div class="admin-logo col-6 col-md-2 col-lg-2">
      <a href="index.html" ><img src="assets/images/logo.svg" alt="AWASA"></a>
    </div>
    <div class="admin-nav col-6 col-md-10 col-lg-10">
      <!-- navigation -->
        <div class="navigation col-12">
          <!-- nav-link -->
          <div class="nav-link" id="nav-link">
            <a href="#"><img src="assets/images/ic_nav_link.svg"></a>
          </div>
          <!-- nav-link -->
          <div class="nav-box" id="nav-box">
            <!-- nav-link -->
            <div class="nav-link" id="nav-link2">
              <a href="#"><img src="assets/images/ic_nav_close.svg"></a>
            </div>
            <div class="app_download_link">
              <ul>
                <li><a target="_blank"  href="https://itunes.apple.com/gb/app/urbanco/id1250754314?mt=8&__hssc=157679013.9.1499435970955&__hstc=157679013.491ad065b4b918b71da45d1dbdfec8b0.1499428732458.1499428732458.1499435970955.2&__hsfp=1188821749&hsCtaTracking=e7778a35-3118-4d5a-b74d-f9189dbb38c1%7Cbf95b683-b052-4355-ae86-07d2b07c1644"><img src="assets/images/ic_app_store.png" alt="apple"></a></li>
                <li><a target="_blank"  href="https://play.google.com/store/apps/details?id=com.urbancollective"><img src="assets/images/ic_google_play.png" alt="android"></a></li>
              </ul>
            </div>
            <ul>
              <li><a href="home-search.html" title="Search">Search</a></li>
              <li><a href="sherpa.html" title="Sherpa">Sherpa Services</a></li>
              <li class="active"><a href="#blog" title="Our blog">Our blog</a>
                <ul>
                  <li><a href="area-guides.html" title="City Guide">Area Guides</a></li>
                  <li><a href="sherpa-tips.html" title="Sherpa tips">Sherpa Tips</a></li>
                </ul>
              </li>
              <li><a href="#" title="About">About</a>
                <ul>
                  <li><a href="how-it-works.html" title="How it works">How it Works</a></li>
                  <li><a href="proptech-startup.html" title="Our Story">Our Story</a></li>
                </ul>
              </li>
              <li><a href="#" title="Login" data-toggle="modal" data-target="#myModal">Log In</a></li>
            </ul>
          </div>
        </div>
        <!-- navigation -->
    </div>
    <!-- admin-nav -->
  </div>
</div>
<!-- avasaApp-container -->
<!-- <div class="avasaApp-container"> -->
  <!-- avasa-left-panel -->
  <div class="avasa-left-panel col-md-2 col-lg-2">
    <div class="row">
      <ul>
        <li class="active"><a (click)="routeprofile()"><i class="fa fa-user"></i>My profile</a></li>
        <li><a (click)="routeacount()"><i class="fa fa-info-circle"></i>Account Information</a></li>
        <li><a (click)="routecalender()"><i class="fa fa-calendar"></i>My Calender</a></li>
        <li><a (click)="routeserpa()"><i class="fa fa-bell"></i>Notification Centre</a></li>
        <li><a href="#"><i class="fa fa-cogs"></i>Terms and Conditions</a></li>
        <li><a href="#"><i class="fa fa-th-large"></i>Privacy Policy</a></li>
        <li><a href="#"><i class="fa fa-sign-in"></i>Login</a></li>
      </ul>
    </div>
  </div>