<app-header></app-header>
<!-- start banner -->
<div class="sherpa-services banner">
	<!-- search-info -->
	<div class="search-info">
		<div class="container">
			<h2>Let our Sherpa do the heavy lifting. <span>Home search. Made easier.</span>
</h2>
		</div>
	</div>
	<!-- search-info -->
</div>
<!-- end banner -->

<!-- popular-searches-list -->
<div class="sherpa-services popular-searches-list">
	<div class="container">
		<h3>Securing a rental home is a complicated, time consuming process. <br>At Avasa, we give you the option to outsource your search to a dedicated local expert.</h3>
		<div class="row">
			<div class="col-12 col-lg-4">
				<div class="column ">
					<div class="img-box">
						<div>
							<img src="assets/images/ic_box.svg">
						</div>
					</div>
					<h4>Busy Professionals</h4>
					<p>Busy with your work, family and social life? 
Do you really want to waste time on online search, calling a large number of estate agents and visiting properties that don’t match your requirements?
</p>
					<p>Cut off hours from your home search. 
Our Sherpas can be the single point of contact to streamline the search for you.</p>
					<a routerLink="/sherpa-busy-professionals" class="more-btn">Learn more</a>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<div class="column ">
					<div class="img-box">
						<div>
							<img src="assets/images/ic_building.svg">
						</div>
					</div>
					<h4>Corporates</h4>
					<p>As an HR Manager, one of the biggest challenges is ensuring new and current employees don't waste time & effort on mundane things like home search.</p>
					<p>Our Sherpas are here to help them discover different areas & properties efficiently.</p>
					<a routerLink="/sherpa-busy-corporates" class="more-btn">Learn more</a>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<div class="column ">
					<div class="img-box">
						<div>
							<img src="assets/images/ic_book.svg">
						</div>
					</div>
					<h4>Students</h4>
					<p>Collecting the keys for your flat on the day of your arrival in London! Settling in ahead of Welcome Week. Do you think that's just a dream?</p>
					<p>Find out how our Sherpas routinely assist students save time and money.</p>
					<a routerLink="/sherpa-busy-students" class="more-btn">Learn more</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end popular-searches-list -->

<div class="sherpa-services">
	<app-footer></app-footer>
</div>