<app-header></app-header>
<!-- start banner -->
<div class="sherpa-busy banner">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-6 textb">
				<h3>Let our Sherpa do the heavy-lifting.</h3>
				<h4>Home search. Time saved. </h4>
				<!-- <p>Securing a rental home is a complicated, time-consuming process which takes at least 401 hours of constant searching, co-ordination and negotiation. Time that’s difcult to carve out for today’s busy professionals.</p>
				<p>At Avasa, we ofer the option to outsource this drawn out process to a dedicated local expert</p>
				<p>1: consumer research of 2,000 UK renters conducted by Mortar London in June 2017</p> -->
			</div><!-- textb -->
			<div class="col-12 col-sm-6 col-md-6 img-box">
				<img src="assets/images/img_11.png" alt="image">
			</div><!-- img-box -->
		</div>
	</div>

</div>
<!-- end banner -->
<!-- start why-sherpa -->
<div class="why-sherpa">
	<div class="container">
		<h3>Why hire a Sherpa?</h3>
		<h4>Securing a rental home is a complicated, time-consuming process, which takes hours of constant searching, co-ordination and negotiation.  Time that’s difficult to carve out for today’s busy professionals. </h4>
		<div class="row">
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Your dedicated local industry expert, working on your side</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Curated list of best properties & areas, delivered directly to your inbox</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>One single point of contact to organise, prepare viewings & coordinate</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Uncover critical information for an informed decision, through accompanied or remote viewings</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Take the time & stress out of home hunting</p>
				</div>
			</div>
			<div class="column col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgb"> 
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<p>Get the best deal & save money; no need for stopgap accommodation</p>
				</div>
			</div>
		</div>
		<!-- <ul class="clearfix">
			<li>1: We do not receive any payment from landlords or estate agents and remain fully independent; our fees are fixed, as published, so you have full transparency on costs</li>
			<li>2: We search across on-market and off-market properties through our own industry networks</li>
		</ul> -->
	</div>
</div>
<!-- end why-sherpa -->
<!-- start sherpa-service -->
<div class="sherpa-service">
	<div class="container">
		<h3>Pick your Sherpa service</h3>
		<div class="row">
			<div class="col-12 col-md-4 col-lg-4">
				<div class="price-list clearfix">
					<h4>Search</h4>
					<h5>£199</h5>
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_box2.svg" alt="icon"></div>
							<div class="txtb">
								Prepare & Search 
							</div>
							<a href="#" data-toggle="modal" data-target="#myModal" class="btn-book">Book now</a>
						</li>
					</ul>
				</div><!-- price-list -->
				<div class="price-info clearfix">
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								UrbanCo App 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Tenant's Guide to a Smooth Move + Sherpa Tips 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								"Needs Evaluation" Session & "Dream Home Profile"
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Personalised In The Neighbourhood Guide
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Agent Outreach & Coordination
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Targeted Search & Curated Property Shortlist
							</div>
						</li>
					</ul>
				</div><!-- price-info -->
			</div>
			<div class="col-12 col-md-4 col-lg-4">
				<div class="price-list active clearfix">
					<div class="tag">Best value</div>
					<h4>Find & finalise</h4>
					<h5>£599</h5>
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_box2.svg" alt="icon"></div>
							<div class="txtb">
								Prepare & Search  
							</div>
							<a href="#" data-toggle="modal" data-target="#myModal" class="btn-book">Book now</a>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_search2.svg" alt="icon"></div>
							<div class="txtb">
								View & Secure Lease   
							</div>
							<a href="#" data-toggle="modal" data-target="#myModal" class="btn-book">Book now</a>
						</li>
					</ul>
				</div><!-- price-list -->
				<div class="price-info clearfix">
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								<strong>Everything in Search </strong>
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Property Viewing Organiser
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Sherpa Accompanied Viewings 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								Dedicated Assistance for Offer & Lease Negotiation
							</div>
						</li>
					</ul>
				</div><!-- price-info -->
			</div>
			<div class="col-12 col-md-4 col-lg-4">
				<div class="price-list clearfix">
					<h4>Relocate</h4>
					<h5>£899</h5>
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_box2.svg" alt="icon"></div>
							<div class="txtb">
								Prepare & Search 
							</div>
							<a href="#" data-toggle="modal" data-target="#myModal" class="btn-book">Book now</a>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_search2.svg" alt="icon"></div>
							<div class="txtb">
								View & Secure Lease   
							</div>
							<a href="#" class="btn-book">Book now</a>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_home2.svg" alt="icon"></div>
							<div class="txtb">
								Move & Settle In   
							</div>
							<a href="#" class="btn-book">Book now</a>
						</li>
					</ul>
				</div><!-- price-list -->
				<div class="price-info clearfix">
					<ul>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb">
								<strong>Everything in Find & finalise</strong> 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Move-in Welcome Pack - to get you through your home move 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Personalised Moving Day Planner 
							</div>
						</li>
						<li><div class="img-box"><img src="assets/images/ic_check.svg" alt="icon"></div>
							<div class="txtb"> 
								Managing your move-in day & helping you settle in
							</div>
						</li>
					</ul>
				</div><!-- price-info -->
			</div>
		</div>
	</div>
</div>
<!-- end sherpa-service -->
<!-- start testimonials -->
<div class="testimonials clearfix">
	<div class="container">
		<h3>Customer testimonials</h3>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div class="img-box col-md-4">
							<img src="assets/images/img_12.jpeg" alt="image">
						</div>
						<div class="txtb col-md-8">
							<p>"Guys, this was honestly a fantastic experience. Tracy and I knew that we had high expectations for finding a flat in a prime location and you guys helped us find a flat that we would have otherwise never found or considered. </p>
							<strong>Mike, Financial Services</strong>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="img-box col-md-4">
							<img src="assets/images/img_13.jpeg" alt="image">
						</div>
						<div class="txtb col-md-8">
							<p>"My wife and I felt that we received both a financial and mental benefit of working with The Avasa " </p>
							<strong>Chris, Sales Professional from New York</strong>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="img-box col-md-4">
							<img src="assets/images/img_14.jpeg" alt="image">
						</div>
						<div class="txtb col-md-8">
							<p>"Really saves you time by selecting listings relevant for you"</p>
							<strong>Chrys112, app user</strong>
						</div>
					</div>
				</div>
			</div>
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
		</div>
	</div>
</div>
<!-- end testimonials -->
<!-- Modal -->
<div class="modal fade comming-soon" id="myModal" role="dialog">
	<div class="modal-dialog">
	
	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-body">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<img src="assets/images/Coming-Soon.jpg" alt="Coming-Soon">
		</div>
	  </div>
	  
	</div>
	</div>
<!-- start footer -->
<div class="sherpa-services footer clearfix">
	<div class="container">
		<div class="footer-logo">
			<a routerLink="/"><img src="assets/images/logo_white.svg" alt="AWASA"></a>
		</div>
		<div class="footer-text clearfix">
			<p>At Avasa AI, we work to deliver the most transparent and efficient end-to-end solution for rental property search that puts tenants ﬁrst.</p>
			<p>We support you in ﬁnding properties in neighbourhoods that ﬁt your lifestyle, making the drawn-out, painful process of renting quicker, simpler and hopefully more enjoyable.  </p>
			<p>Avasa was previously known as The Urban Collective.</p>
			<!-- app_download_link -->
			<div class="app_download_link">
				<ul>
					<li><a target="_blank"  href="https://itunes.apple.com/gb/app/urbanco/id1250754314?mt=8&__hssc=157679013.9.1499435970955&__hstc=157679013.491ad065b4b918b71da45d1dbdfec8b0.1499428732458.1499428732458.1499435970955.2&__hsfp=1188821749&hsCtaTracking=e7778a35-3118-4d5a-b74d-f9189dbb38c1%7Cbf95b683-b052-4355-ae86-07d2b07c1644"><img src="assets/images/ic_app_store.png" alt="apple"></a></li>
					<li><a target="_blank"  href="https://play.google.com/store/apps/details?id=com.urbancollective"><img src="assets/images/ic_google_play.png" alt="android"></a></li>
				</ul>
			</div>
			<!-- app_download_link -->
		</div>
		<div class="footer-link">
			<h6>ABOUT</h6>
			<ul>
				<li><a routerLink="/home-search">Search</a></li>
				<li><a routerLink="/sherpa-services">Sherpa Services</a></li>
				<li><a routerLink="/area-guides">Our blog</a></li>
				<li><a routerLink="/proptech-startup">Our Story</a></li>
				<li><a routerLink="/how-it-works">Contact us </a></li>
			</ul>
		</div>
		<div class="footer-social-link">
			<h6>FOLLOW US </h6>
			<ul>
				<li><a href="http://facebook.com/AvasaAI" target="_blank"><img src="assets/images/ic_facebook.svg">Facebook</a></li>
				<li><a href="https://www.instagram.com/avasaai/" target="_blank"><img src="assets/images/ic_instagram.svg">Instagram</a></li>
				<li><a href="https://twitter.com/AvasaAI" target="_blank"><img src="assets/images/ic_twitter.svg">Twitter</a></li>
				<li><a href="https://www.linkedin.com/company/the-urban-collective/?viewAsMember=true" target="_blank"><img src="assets/images/ic_linkedin_in.svg">LinkedIn</a></li>
				<li><a href="https://www.youtube.com/channel/UCdkpG7CiG13GIfuN3efnBFg" target="_blank"><img src="assets/images/ic_youtube.svg">YouTube</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- end footer -->
<!-- start footer-bot -->
<div class="sherpa-services footer-bot clearfix">
	<div class="container">
		<ul>
			<li><a href="#">Copyright  AVASA.ltd</a></li>
			<li><a routerLink="/privacy-policy">Privacy Policy</a></li>
			<li><a routerLink="/terms-of-use.html">Terms Of Use</a></li>
			<li><a routerLink="/site-map" target="_blank">Sitemap</a></li>
		</ul>
	</div>
</div>
<!-- end footer-bot -->