<div class="blog-city-guide header">
	<div class="header-in">
		<div class="container">
			<div class="clearfix">
				<!-- logo -->
				<div class="logo col-12 col-md-2 col-lg-2">
					<a href="/"><img src="assets/images/logo.svg" alt="AWASA"></a>
				</div>
				<!--logo -->
				<!-- navigation -->
				<div class="navigation col-12 col-md-10 col-lg-10">
					<!-- nav-link -->
					<div class="nav-link" id="nav-link">
						<a href="#"><img src="assets/images/ic_nav_link.svg"></a>
					</div>
					<!-- nav-link -->
					<div class="nav-box" id="nav-box">
						<!-- nav-link -->
						<div class="nav-link" id="nav-link2">
							<a href="#"><img src="assets/images/ic_nav_close.svg"></a>
						</div>
						<!-- nav-link -->
						<!-- app_download_link -->
						<!-- <div class="app_download_link">
							<ul>
								<li><a target="_blank"  href="https://itunes.apple.com/gb/app/urbanco/id1250754314?mt=8&__hssc=157679013.9.1499435970955&__hstc=157679013.491ad065b4b918b71da45d1dbdfec8b0.1499428732458.1499428732458.1499435970955.2&__hsfp=1188821749&hsCtaTracking=e7778a35-3118-4d5a-b74d-f9189dbb38c1%7Cbf95b683-b052-4355-ae86-07d2b07c1644"><img src="assets/images/ic_apple.svg" alt="apple"></a></li>
								<li><a target="_blank"  href="https://play.google.com/store/apps/details?id=com.urbancollective"><img src="assets/images/ic_android.svg" alt="android"></a></li>
							</ul>
							<span>Get the App</span>
						</div> -->
						<div class="app_download_link">
							<ul>
								<li><a target="_blank"  href="https://itunes.apple.com/gb/app/urbanco/id1250754314?mt=8&__hssc=157679013.9.1499435970955&__hstc=157679013.491ad065b4b918b71da45d1dbdfec8b0.1499428732458.1499428732458.1499435970955.2&__hsfp=1188821749&hsCtaTracking=e7778a35-3118-4d5a-b74d-f9189dbb38c1%7Cbf95b683-b052-4355-ae86-07d2b07c1644"><img src="assets/images/ic_app_store.png" alt="apple"></a></li>
								<li><a target="_blank"  href="https://play.google.com/store/apps/details?id=com.urbancollective"><img src="assets/images/ic_google_play.png" alt="android"></a></li>
							</ul>
						</div>
						<!-- app_download_link -->
						<ul>
							<li><a routerLink="home-search" title="Search">Search</a></li>
							<li><a routerLink="sherpa" title="Sherpa">Sherpa</a></li>
							<li><a routerLink="#blog" title="Our blog">Our blog</a>
								<ul>
									<li><a routerLink="area-guides" title="City Guide">Area Guides</a></li>
									<li><a routerLink="sherpa-tips" title="Sherpa tips">Sherpa Tips</a></li>
								</ul>
							</li>
							<li><a routerLink="#" title="About">About</a>
								<ul>
									<li><a routerLink="how-it-works" title="How it works">How it Works</a></li>
									<li><a routerLink="our-story" title="Our Story">Our Story</a></li>
								</ul>
							</li>
							<li><a routerLink="/login" title="Login" *ngIf="!loggedIn">Log In</a></li>
							<li><a href="#" (click)="logout($event)" *ngIf="loggedIn" title="Login">Logout</a></li>
						</ul>
					</div>
				</div>
				<!-- navigation -->
			</div>
		</div>
	</div>
</div>
<!-- end header -->
<!-- start banner -->
<div class="privacy-statements banner">
	<!-- search-info -->
	<div class="search-info">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<h2>Privacy Policy</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- search-info -->
</div>
<!-- end banner -->
<!-- start privacy-statements-content -->
<div class="privacy-statements-content">
	<div class="container">
		<table>
			<tbody>
				<tr>
					<td style="border:none"><strong class="textblack font-size">1</strong></td>
					<td style="border:none" class="subheadings1"><p>PURPOSE OF OUR POLICY</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">1.1</strong></td>
					<td style="border:none"><p>URBAN PROPTECH LIMITED (Company number 10083530) of 71-75 Shelton Street, Covent Garden, London, United Kingdom, WC2H 9JQ(<strong class="textblack">we, us</strong> or <strong class="textblack">our</strong>) providesThe Urban Collective mobile application <strong class="textblack">(App)</strong>, websites (including http://theurbancollective.io/) and services (together, the <strong class="textblack">Platform</strong>).</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">1.2</strong></td>
					<td style="border:none"><p>For the purposes of the Data Protection Act 1998 <strong class="textblack">(Act)</strong>, we are the data controller.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">1.3</strong></td>
					<td style="border:none"><p>We have adopted this Privacy Policy to ensure that we have standards in place to protect the data that we collect about individualsthat is necessary and incidental to:</p>
						<table>
							<tbody>
								<tr>
									<td>(a)</td>
									<td><p>Providing the products and services that weoffer, including our Platform and/or mobile application; and</p></td>
								</tr>
								<tr>
									<td>(b)</td>
									<td><p>The normal day-to-day operations of our business.</p></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">1.4</strong></td>
					<td style="border:none"><p>By publishing this Privacy Policy we aim to make it easy for our users, customers and the public to understand what data we collect and store, why we do so, how we receive and/or obtain that information, and the rightsan individual has with respectto their data in our possession.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">2</strong></td>
					<td style="border:none" class="subheadings1"><p>WHO AND WHAT THIS POLICY APPLIES TO</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">2.1</strong></td>
					<td style="border:none"><p>We handle datain our own right and also for and on behalf of our Sherpas, Tenants and other users.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">2.2</strong></td>
					<td style="border:none"><p>Our Privacy Policy does not apply to information we collect about businesses or companies, however it does apply to information about the people in those businesses or companies which we store.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">2.3</strong></td>
					<td style="border:none"><p>The Privacy Policy applies to all forms of information, physical and digital, whether collected or stored electronically or in hardcopy.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">2.4</strong></td>
					<td style="border:none"><p>If, at any time,an individual provides dataor other information about someone other than himself or herself, the individual warrants that they have that person's consent to provide such information for the purpose specified.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">2.5</strong></td>
					<td style="border:none"><p>The Platform isnot available to children (persons under the age of 18 years, except for persons over the age of 13 acting under the supervision and authority of a parent or legal guardian).</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">3</strong></td>
					<td style="border:none" class="subheadings1"><p>THE INFORMATION WE COLLECT</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">3.1</strong></td>
					<td style="border:none"><p>In the course of business it is necessary for us to collect data. This information allows us to identify who an individualis for the purposes of our business, share data when asked of us, contact the individual in the ordinary course of business and transact with the individual. Without limitation, the type of information we may collect is:</p>
						<table>
							<tbody>
								<tr>
									<td>(a)</td>
									<td><p><strong class="textblack ">Personal Information.</strong> We may collect personal details such as an individual’s name, location, date of birth, nationality, family details and other information that allows us to identify who the individual is;</p></td>
								</tr>
								<tr>
									<td>(b)</td>
									<td><p><strong class="textblack ">Contact Information.</strong> We may collect information such as an individual’s email address, telephone number, third-party usernames, residential, business and postal address and other information that allows us to contact the individual;</p></td>
								</tr>
								<tr>
									<td>(c)</td>
									<td><p><strong class="textblack ">Financial Information.</strong> We may collect financial information related to an individual such asany bank or credit card details used to transact with us and other information that allows us to transact with the individual and/or provide them with our services;</p></td>
								</tr>
								<tr>
									<td>(d)</td>
									<td><p><strong class="textblack ">Statistical Information.</strong> We may collect information about an individual’s online and offline preferences, habits, movements, trends, decisions, associations, memberships, finances, purchases and other information for statistical purposes;</p></td>
								</tr>
								<tr>
									<td>(e)</td>
									<td><p><strong class="textblack ">Device Information.</strong> We collect device-specific information, such as the hardware model, operating system version, advertising identifier, unique application identifiers, unique device identifiers, browser type, language, wireless network, and mobile network information (including the mobile phone number); and</p></td>
								</tr>
								<tr>
									<td>(f)</td>
									<td><p><strong class="textblack ">Information an individual sends us.</strong> We may collect any personal correspondence that an individual sends us, or that is sent to us by others about the individual’s activities, including activities with our partners (such as Facebook and other online services).</p></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">3.2</strong></td>
					<td style="border:none"><p>We may collect other data about an individual, which we will maintain in accordance with this Privacy Policy.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">3.3</strong></td>
					<td style="border:none"><p>We may also collect non-data about an individual such as information regarding their computer, network and browser. This may include their IP address.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">4</strong></td>
					<td style="border:none" class="subheadings1"><p>HOW INFORMATION IS COLLECTED</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">4.1</strong></td>
					<td style="border:none"><p>Most information will be collected in association with an individual’s use of our Platform, websites, products and services, an enquiry about the Platform or generally dealing with us. However, we may also receivedata from other sources such as advertising, an individual’s own promotions, public records, mailing lists, contractors, staff, recruitment agencies and our business partners (such as Facebook or Twitter). In particular, information is likely to be collected as follows:</p>
						<table>
							<tbody>
								<tr>
									<td>(a)</td>
									<td><p><strong class="textblack ">Registrations/Subscriptions/Purchases.</strong> When an individual registers, subscribes and or purchases a product, service, list, account, connection or other process whereby they enter datadetails or grant access to information in order to receive or access something, including a transaction or services;</p></td>
								</tr>
								<tr>
									<td>(b)</td>
									<td><p><strong class="textblack ">Accounts/Memberships.</strong> When an individual submitstheir details to open an account and/or become a member with us;</p></td>
								</tr>
								<tr>
									<td>(c)</td>
									<td><p><strong class="textblack ">Partners.</strong> When an individual grants us access to their accounts with our business partners (such as Facebook or Twitter).</p></td>
								</tr>
								<tr>
									<td>(d)</td>
									<td><p><strong class="textblack ">Supply/Contact.</strong> When an individual supplies us with goods or services. or contacts us in any way;</p></td>
								</tr>
								<tr>
									<td>(e)</td>
									<td><p><strong class="textblack ">Pixel Tags.</strong> Pixel tags enable us to send email messages in a format customers can read and they tell us whether mail has been opened.</p></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">4.2</strong></td>
					<td style="border:none"><p>As there are many circumstances in which we may collect information both electronically and physically, we will endeavour to ensure that an individual is always aware of when theirdata is being collected.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">4.3</strong></td>
					<td style="border:none"><p>We may also collect anonymous data such as traffic, IP addresses and transaction statistics, which may be used and shared on an aggregated and anonymous basis.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">5</strong></td>
					<td style="border:none" class="subheadings1"><p>HOW DATA IS STORED</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">5.1</strong></td>
					<td style="border:none"><p>The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area (EEA) and with third parties. It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. Such staff maybe engaged in, among other things, the fulfilment of your order, the processing of your payment details and the provision of support services.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">5.2</strong></td>
					<td style="border:none"><p>By submitting your personal data, you agree to this transfer, storing or processing.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">6</strong></td>
					<td style="border:none" class="subheadings1"><p>WHEN DATA IS USED </p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">6.1</strong></td>
					<td style="border:none"><p>In general, the primary principle is that we will not use any dataother than for the purpose for which it was collected other than with the individual’s permission. The purpose of collection is determined by the circumstances in which the information was collected and/or submitted.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">6.2</strong></td>
					<td style="border:none"><p>We will retaindata for the period necessary to fulfil the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">6.3</strong></td>
					<td style="border:none"><p>Information is used to enable us to operate our business, especially as it relates to an individual. This may include</p>
						<table>
							<tbody>
								<tr>
									<td>(a)</td>
									<td><p>Provision of services relating to our website and/or mobile application;</p></td>
								</tr>
								<tr>
									<td>(b)</td>
									<td><p>Verifying an individual’s identity;</p></td>
								</tr>
								<tr>
									<td>(c)</td>
									<td><p>Communicating with an individual about:</p>
										<table>
											<tbody>
												<tr>
													<td>(i)</td>
													<td><p>Their relationship with us;</p></td>
												</tr>
												<tr>
													<td>(ii)</td>
													<td><p>Our goods and services;</p></td>
												</tr>
												<tr>
													<td>(iii)</td>
													<td><p>Our own marketing and promotions to customers and prospects;</p></td>
												</tr>
												<tr>
													<td>(iv)</td>
													<td><p>Competitions, surveys and questionnaires;</p></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td>(d)</td>
									<td><p>Investigating any complaints about or made by an individual, or if we have reason to suspect that an individual is in breach of any of our terms and conditions or that an individualis or has been otherwise engaged in any unlawful activity; and/or</p></td>
								</tr>
								<tr>
									<td>(e)</td>
									<td><p>As required or permitted by any law (including the Act).</p></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">6.4</strong></td>
					<td style="border:none"><p>If you publicly post about the Platform, or communicate directly with us, on a social media website, we may collect and process the data contained in such posts or in your public profile for the purpose of addressing any customers services requests you may have and to monitor and influence public opinion.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">7</strong></td>
					<td style="border:none" class="subheadings1"><p>WHEN DATA IS DISCLOSED</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">7.1</strong></td>
					<td style="border:none"><p>It may be necessary for us to disclose an individual’s data to third parties in a manner compliant with the Act in the course of our business, such as for processing activities like website hosting.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">7.2</strong></td>
					<td style="border:none"><p>We will not disclose or sell an individual’s data to unrelated third parties under any circumstances [unless We employ other companies to perform tasks on our behalf and We need to share your information with them to provide products and services to you</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">7.3</strong></td>
					<td style="border:none"><p>here are some circumstances in which we must disclose an individual’s information:</p>
						<table>
							<tbody>
								<tr>
									<td>(a)</td>
									<td><p>Where we reasonably believe that an individual may be engaged in fraudulent, deceptive or unlawful activity that a governmental authority should be made aware of;</p></td>
								</tr>
								<tr>
									<td>(b)</td>
									<td><p>As required by any law (including the Act) including court orders; and/or</p></td>
								</tr>
								<tr>
									<td>(c)</td>
									<td><p>In order to sell our business (as we may transfer data to a new owner).</p></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">7.3</strong></td>
					<td style="border:none"><p>You are responsible for all content and information published on or sent via the Platform and warrant that information is accurate and honest. You acknowledge that such content will be made publicly available and that we are not responsible for editing or monitoring such content. We reserve the right to delete any such content and information in our absolute discretion.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">7.4</strong></td>
					<td style="border:none"><p>We will not disclose an individual’s data to any entity outside of the United Kingdom that is in a jurisdiction that does not have a similar regime to the Act or an implemented and enforceable privacy policy similar to this Privacy Policy. We will take reasonable steps to ensure that any disclosure to an entity outside of the United Kingdom will not be made until that entity has agreed in writing with us to safeguard data as we do.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">7.5</strong></td>
					<td style="border:none"><p>We may partner with or utilise third-party service providers to market our products and services, communicate with an individual and to store contact details about an individual. These service providers may be located outside the United Kingdom, including the United States of America..</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">7.6</strong></td>
					<td style="border:none"><p>If the Company gets involved in a merger, asset sale, financing, liquidation or bankruptcy, or acquisition of all or some portion of the business to another company, we may share information with that company before and after the transaction closes.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">8</strong></td>
					<td style="border:none" class="subheadings1"><p>THIRD PARTY SERVICES, WEBSITES AND ACCOUNTS</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">8.1</strong></td>
					<td style="border:none"><p>We may share an individual’s information with third parties for the processing and storage of certain personal information. For example:</p>
						<table>
							<tbody>
								<tr>
									<td>(a)</td>
									<td><p>Contact information may be shared with and processed by email administrators (such as Gmail from Google, Inc) and marketing service providers (such as Sumo, Hubspot and Mailshake);</p></td>
								</tr>
								<tr>
									<td>(b)</td>
									<td><p>all information may be process and stored with cloud service providers (such as Amazon Web Services);</p></td>
								</tr>
								<tr>
									<td>(c)</td>
									<td><p>all payment information shall be provided to and processed by a payment gateway (such as www.Stripe.com or similar services).</p></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">8.2</strong></td>
					<td style="border:none"><p>We recommend that you read the privacy policies of third party service providers so you can understand the manner in which your personal information will be handled by these providers.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">8.3</strong></td>
					<td style="border:none"><p>In particular, remember that certain service providers may be located in or have facilities that are located a different jurisdiction (including outside the EEA). So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">8.4</strong></td>
					<td style="border:none"><p>As an example, if you are located in United Kingdom and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation (including the USA Patriot Act).</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">8.5</strong></td>
					<td style="border:none"><p>We may link your account with a third party (such as Facebook, LinkedIn, Twitter or Google+) to our services to enable certain functionality, which allows us to obtain information from those accounts (including your profile picture, friends or contacts).</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">8.6</strong></td>
					<td style="border:none"><p>The information we may obtain from those services often depends on your settings or their privacy policies. We recommend that you read any third party privacy policies before entering any personal information.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">8.7</strong></td>
					<td style="border:none"><p>When you click on links on our Platform, they may direct you to third party websites. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">9</strong></td>
					<td style="border:none" class="subheadings1"><p>COOKIE POLICY</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">9.1</strong></td>
					<td style="border:none"><p>Our website may use cookies to distinguish you from other users of our Platform. This helps us to provide you with a good experience when you browse our platform and also allows us to improve our website. By continuing to browse the site, you are agreeing to our use of cookies.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">9.2</strong></td>
					<td style="border:none"><p>A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your device if you agree. Cookies contain information that is transferred to your device’s hard drive. You block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our website.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">9.3</strong></td>
					<td style="border:none"><p>We use the following cookies:</p>
						<table>
							<tbody>
								<tr>
									<td>(a)</td>
									<td><p><strong class="textblack ">Strictly necessary cookies.</strong> These are cookies that are required for the operation of the Platform. They include, for example, cookies that enable you to log into secure areas of the Platform.</p></td>
								</tr>
								<tr>
									<td>(b)</td>
									<td><p><strong class="textblack ">Analytical/performance cookies.</strong> They allow us to recognise and count the number of visitors, track views of content and to see how users move around the Platform when they are using it. This helps us to improve the way the Platform works, for example, by ensuring that users are finding what they are looking for easily.</p></td>
								</tr>
								<tr>
									<td>(c)</td>
									<td><p><strong class="textblack ">Functionality cookies.</strong> These are used to recognise you when you return to the Platform or when you have logged into the Platform already. This enables us to personalise our content for you, greet you by name and remember your preferences.</p></td>
								</tr>
								<tr>
									<td>(d)</td>
									<td><p><strong class="textblack ">Tracking cookies.</strong> These enable us to track use of content from the Platform (on third party services, such as posts on social media networks), in accordance with your third party settings.</p></td>
								</tr>
								<tr>
									<td>(e)</td>
									<td><p><strong class="textblack ">Targeting cookies.</strong> These cookies record your visit to the Platform, the pages you have visited and the links you have followed. We will use this information to make the Platform more relevant to your interests. We may also share this information with third parties for this purpose.</p></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">9.4</strong></td>
					<td style="border:none"><p>You can find more information about some individual cookies we use and the purposes for which we use them in the table below:</p>
						<table class="table">
							<tbody>
								<tr>
									<td><strong class="textblack ">Name</strong></td>
									<td><strong class="textblack ">More information</strong></td>
								</tr>
								<tr>
									<td>Google Analytics</td>
									<td><p>These cookies are used to collect information about how visitors use our Platform. We use the information to compile reports and to help us improve the Platform. The cookies collect information in an anonymous form, including the number of visitors to the Platform, where visitors have come to the Platform from and the pages they viewed. Click here for an overview of privacy at Google</p></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">9.5</strong></td>
					<td style="border:none"><p>Please note that third parties (including, for example, advertising networks and providers of external services like user traffic analysis services) may also use cookies, over which we have no control. These cookies are likely to be analytical, performance or targeting cookies.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">9.6</strong></td>
					<td style="border:none"><p>If you are unclear about the types of functions of cookies we use, please contact us for more information.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">10</strong></td>
					<td style="border:none" class="subheadings1"><p>CONSENT TO COLLECTION OF DATA</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">10.1</strong></td>
					<td style="border:none"><p>An individual may opt to not have us collect theirdata and communicate with them. This may prevent us from offering them some or all of our services and may terminate their access to some or all of the services they access with or through us. They will be aware of this when:</p>
						<table>
							<tbody>
								<tr>
									<td style="border:none"><strong class="textblack ">(a)</strong></td>
									<td style="border:none"><p><strong class="textblack ">Opt In.</strong> Where relevant, the individual will have the right to choose to have information collected and/or receive information from us; or</p></td>
								</tr>
								<tr>
									<td style="border:none"><strong class="textblack ">(b)</strong></td>
									<td style="border:none"><p><strong class="textblack ">Opt Out.</strong> Where relevant, the individual will have the right to choose to exclude himself or herself from some or all collection of information and/or receiving information from us.</p></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">10.2</strong></td>
					<td style="border:none"><p>If an individual believes that they have received information from us that they did not opt in or out to receive, they should contact us on the details below.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">11</strong></td>
					<td style="border:none" class="subheadings1"><p>THE SAFETY & SECURITY OF DATA</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">11.1</strong></td>
					<td style="border:none"><p>We will take all reasonable precautions to protect an individual’sdata from unauthorised access. This includes appropriately securing our physical facilities and electronic networks.11.1</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">11.2</strong></td>
					<td style="border:none"><p>The security of online transactions and the security of communications sent by electronic means or by post cannot be guaranteed. Each individualthat provides information to us via the internet or by post does so at their own risk. We cannot accept responsibility for misuse or loss of, or unauthorised access to, data where the security of information is not within our control.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">11.3</strong></td>
					<td style="border:none"><p>We are not responsible for the privacy or security practices of any third party (including third parties that we are permitted to disclose an individual’sdata to in accordance with this policy or any applicable laws). The collection and use of an individual’s information by such third parties may be subject to separate privacy and security policies.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">11.4</strong></td>
					<td style="border:none"><p>If an individual suspects any misuse or loss of, or unauthorised access to, their data, they should let us know immediately.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">11.5</strong></td>
					<td style="border:none"><p>We are not liable for any loss, damage or claim arising out of another person’s use of the data where we were authorised to provide that person with the data.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">12</strong></td>
					<td style="border:none" class="subheadings1"><p>HOW TO ACCESS AND/OR UPDATE INFORMATION</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">12.1</strong></td>
					<td style="border:none"><p>The Act gives you the right to request from us the data that we have about you.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">12.2</strong></td>
					<td style="border:none"><p>If an individual cannot update his or her own information, we will correct any errors in the data we hold about an individual within 7 days of receiving written notice from them about those errors.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">12.3</strong></td>
					<td style="border:none"><p>It is an individual’s responsibility to provide us with accurate and truthful data. We cannot be liable for any information that is providedto us that is incorrect.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">12.4</strong></td>
					<td style="border:none"><p>We may charge an individual a reasonable fee for our costs incurred in meeting any of their requests to disclose the data we hold about them.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">13</strong></td>
					<td style="border:none" class="subheadings1"><p>COMPLAINTS AND DISPUTES</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">13.1</strong></td>
					<td style="border:none"><p>If an individual has a complaint about our handling of their data, they should address their complaint in writing to the details below.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">13.2</strong></td>
					<td style="border:none"><p>If we have a dispute regarding an individual’sdata, we both must first attempt to resolve the issue directly between us.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">13.3</strong></td>
					<td style="border:none"><p>If we become aware of any unauthorised access to an individual’sdata we will inform them at the earliest practical opportunity once we have established what was accessed and how it was accessed.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">14</strong></td>
					<td style="border:none" class="subheadings1"><p>ADDITIONS TO THIS POLICY</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">14.1</strong></td>
					<td style="border:none"><p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">14.2</strong></td>
					<td style="border:none"><p>If we decide to change this Privacy Policy, we will post the changes on our website at theurbancollective.io/privacy. It is your responsibility to refer back to this Privacy Policy to review any amendments.We may do things in addition to what is stated in this Privacy Policy to comply with the Act and nothing in this Privacy Policy shall deem us to have not complied with the Act.</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack font-size">15</strong></td>
					<td style="border:none" class="subheadings1"><p>CONTACTING US</p></td>
				</tr>
				<tr>
					<td style="border:none"><strong class="textblack ">15.1</strong></td>
					<td style="border:none"><p>All correspondence with regards to privacy should be addressed to:</p>
						<p>The Data Controller</p>
						<p>URBAN PROPTECH LTD</p>
						<p>We prefer email, in the first instance:</p>
						<p>marketing@theurbancollective.io</p>
						<p>Alternatively, you may also contact us by mail to our registered office:</p>
						<p>71-75 Shelton Street, Covent Garden, London, United Kingdom, WC2H 9JQ</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- end privacy-statements-content -->
<app-footer></app-footer>