<app-header></app-header>
<!-- start banner -->
<div class="banner">
	<div class="video">
		<video autoplay muted loop id="myVideo">
			<source src="assets/images/banner.mov" type="video/mp4">
		</video>
	</div>
	<!-- search-info -->
	<div class="search-info">
		<div class="col-12 col-lg-6 offset-lg-3">
			<h2>Find a rental home that matches your lifestyle. Without the hassle.</h2>
			<app-search-field></app-search-field>
		</div>
	</div>
	<!-- search-info -->
	<!-- popular-searches -->
	<div class="popular-searches">
		<h3>Popular searches</h3>
		<ul>
			<li><a href="#" data-toggle="modal" data-target="#myModal">2 beds in Marylebone</a></li>
			<li><a href="#" data-toggle="modal" data-target="#myModal">1 bed in Victoria</a></li>
			<li><a href="#" data-toggle="modal" data-target="#myModal">3 beds in Wimbledon</a></li>
			<li><a href="#" data-toggle="modal" data-target="#myModal">Studio near UCL</a></li>
			<li><a href="#" data-toggle="modal" data-target="#myModal">2 beds in South Kensington</a></li>
		</ul>
	</div>
	<!-- popular-searches -->
</div>
<!-- end banner -->
<!-- start client-logo -->
<div class="client-logo">
	<ul>
		<!-- <li><a href="#"><img src="assets/images/client_logo_1.svg"></a></li>
		<li><a href="#"><img src="assets/images/client_logo_2.svg"></a></li>
		<li><a href="#"><img src="assets/images/client_logo_3.svg"></a></li>
		<li><a href="#"><img src="assets/images/client_logo_4.svg"></a></li>
		<li><a href="#"><img src="assets/images/client_logo_5.svg"></a></li>
		<li><a href="#"><img src="assets/images/client_logo_6.svg"></a></li> -->
		<li><a href="https://metro.co.uk/" target="_blank" class="client-logo1"></a></li>
		<li><a href="https://www.standard.co.uk/news/london/generation-forever-rent-a-third-of-british-tenants-give-up-on-ever-buying-a-house-a3604341.html" target="_blank" class="client-logo2"></a></li>
		<li><a href="https://www.youtube.com/watch?v=SP1xBZOrZE8&t=2s" target="_blank" class="client-logo3"></a></li>
		<li><a href="https://thefintechtimes.com/start-profiles-urban-collectiveurbanco/" target="_blank" class="client-logo4"></a></li>
		<li><a href="http://vergemagazine.co.uk/ending-apartment-hunting-anxiety/" target="_blank" class="client-logo5"></a></li>
		<li><a href="https://www.thesun.co.uk/money/4409807/buyers-renters-mortgages-agreements-negotiations-property-sun-savers-rewards-club-deals-offers/" target="_blank" class="client-logo6"></a></li>
	</ul>
</div>
<!-- client-logo -->
<!-- popular-searches-list -->
<div class="popular-searches-list">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 col-lg-4">
				<div class="column ">
					<div class="img-box">
						<div>
							<img src="assets/images/ic_box.svg">
						</div>
					</div>
					<h4>Busy Professionals</h4>
					<p>Want a professional to check properties and organise viewings while you are busy with your own work schedule & family? </p>
					<p>Cut off hours from your home search.  Our Sherpas can handle & streamline the process for you.</p>
					<a href="sherpa_busy_professionals.html" class="more-btn">Learn more</a>
				</div>
			</div>
			<div class="col-12 col-md-4 col-lg-4">
				<div class="column ">
					<div class="img-box">
						<div>
							<img src="assets/images/ic_building.svg">
						</div>
					</div>
					<h4>Corporates</h4>
					<p>As an HR Manager, one of the biggest challenges is ensuring new & current employees don't waste time & effort on mundane things like home search. </p>
					<p>Our Sherpas are here to help them discover different areas & properties efficiently.</p>
					<a href="sherpa_busy_corporates.html" class="more-btn">Learn more</a>
				</div>
			</div>
			<div class="col-12 col-md-4 col-lg-4">
				<div class="column ">
					<div class="img-box">
						<div>
							<img src="assets/images/ic_book.svg">
						</div>
					</div>
					<h4>Students</h4>
					<p>Collecting the key for your flat on the day of your arrival in London! Settling in ahead of Welcome Week. Do you think that's just a dream? </p>
					<p>Find out how our Sherpas routinely assist students save time and money.</p>
					<a href="sherpa_busy_students.html" class="more-btn">Learn more</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end popular-searches-list -->
<!-- start company-stats -->
<div class="company-stats">
	<ul>
		<li>
			<img src="assets/images/ic_users.svg">
			<h4>15000+</h4>
			<p>Users</p>
		</li>
		<li>
			<img src="assets/images/ic_rating.svg">
			<h4>5 <img src="assets/images/ic_star_unselect2.svg"></h4>
			<p>Rating</p>
		</li>
		<li>
			<span class="net-score">
				NPS<span>9.7</span>
			</span>
			<p>Net promoter <br>score</p>
		</li>
		<li>
			<img src="assets/images/ic_sherpa_services.svg">
			<h4>£2,000</h4>
			<p>Average Saving using <br>Sherpa Services </p>
		</li>
		<li>
			<img src="assets/images/ic_total_value.svg">
			<h4>£1.75m</h4>
			<p>Total rental value <br>for tenants</p>
		</li>
	</ul>
</div>
<!-- end company-stats -->
<!-- start testimonial -->
<div class="testimonial">
	<div class="container">
		<div class="testimonial-in">
			<h3>See what our customers think?</h3>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<ul>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<!-- <li><a href="#"><img src="assets/images/ic_star_unselect.svg"></a></li> -->
						</ul>
						<p>Killed it. Truly a great experience that I would recommend to anyone I know looking for a flat in London!
						   <span>Tracy & Chris - Professionals</span>
						</p>
					</div>
					<div class="carousel-item">
						<ul>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
						</ul>
						<p>Terrific service that provided peace of mind knowing that I had experts within the London rental market on my side of the table! Great service that was worth every penny. 
						   <span>Matthew - MBA student</span>
						</p>
					</div>
					<div class="carousel-item">
						<ul>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
						</ul>
						<p>Love that you can search according to your lifestyle criteria.  Found this especially useful as we are new to London. Really saves you time by selecting listings relevant to you. 
						   <span>Chrys – Procurement, FMCG</span>
						</p>
					</div>
					<div class="carousel-item">
						<ul>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
						</ul>
						<p>Saved me a lot of time searching online and dealing with estate agents.
						   <span>Lars – CEO, Fintech</span>
						</p>
					</div>
					<div class="carousel-item">
						<ul>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
						</ul>
						<p>Bespoke service, trained and expert team, an innovative service very helpful when you are on the tenant side... worth 100% of the fees. Would definitely recommend to my friends, family, colleagues...
						   <span>Aurélie – Marketing, Luxury</span>
						</p>
					</div>
					<div class="carousel-item">
						<ul>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
							<li><a href="#"><img src="assets/images/ic_star.svg"></a></li>
						</ul>
						<p>Excellent experience, delivered me my dream London apartment, frankly, which is really shaping my experience. 
						   <span>Maeve, MBA student</span>
						</p>
					</div>
				</div>
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
					<li data-target="#myCarousel" data-slide-to="4"></li>
					<li data-target="#myCarousel" data-slide-to="5"></li>
				</ol>
				<!-- <ol>
					<li><a href="#"></a></li>
					<li><a href="#" class="active"></a></li>
					<li><a href="#"></a></li>
				</ol> -->
			</div>
		</div>
	</div>
</div>
<!-- end testimonial -->
<!-- start blog-column -->
<div class="blog-column clearfix" id="our-blog">
	<div class="container">
		<h3>Our Blog</h3>
		<ul>
			<li>
				<div class="row justify-content-md-center">
					<div class="col-12 col-md-6 col-lg-5">
						<div class="img-box"><a href="http://the-knowledge.theurbancollective.io/intheneighbourhood/earls-court"><img src="assets/images/img_blog2.png"></a></div>
					</div>
					<div class="col-12 col-md-5 col-lg-5">
						<div class="text-box">
							<h4><a href="http://the-knowledge.theurbancollective.io/intheneighbourhood/earls-court" >Neighbourhood: Earl’s Court</a></h4>
							<p>Once called 'bedsit land' due to its popularity amongst students, today's Earl's Court is home to young and ambitious city workers.</p>
							<a href="area-guides" class="more-btn">More area guides</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row justify-content-md-center">
					<div class="col-12 col-md-6 col-lg-5">
						<div class="img-box"><a href="http://the-knowledge.theurbancollective.io/sherpascorner/top-5-tips-for-finding-a-pet-friendly-rental-property-0" ><img src="assets/images/img_blog1.png"></a></div>
					</div>
					<div class="col-12 col-md-5 col-lg-5">
						<div class="text-box">
							<h4><a href="http://the-knowledge.theurbancollective.io/sherpascorner/top-5-tips-for-finding-a-pet-friendly-rental-property-0" >Top 5 tips for finding a pet-friendly rental property</a></h4>
							<p>What you need to know before you start looking for a rental property if you are a pet owner. </p>
							<a href="sherpa-tips" class="more-btn" >More Sherpa tips</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- end blog-column -->
<app-footer></app-footer>