<app-header></app-header>

<!-- start banner -->
<div class="banner">
	<div class="video">
		<video autoplay muted loop id="myVideo">
			<source src="assets/images/banner.mov" type="video/mp4">
		</video>
	</div>
	<!-- search-info -->
	<div class="search-info">
		<div class="row justify-content-md-center">
			<div class="col-12 ">
				<h2>Find a rental home to match your lifestyle. <br>Without the hassle!</h2>
				<app-search-field></app-search-field>
			</div>
		</div>
	</div>
	<!-- search-info -->
	<!-- popular-searches -->
	<div class="popular-searches">
		<h3>Popular searches</h3>
		<ul>
			<li><a href="#" data-toggle="modal" data-target="#myModal">2 beds in Marylebone</a></li>
			<li><a href="#" data-toggle="modal" data-target="#myModal">1 bed in Victoria</a></li>
			<li><a href="#" data-toggle="modal" data-target="#myModal">3 beds in Wimbledon</a></li>
			<li><a href="#" data-toggle="modal" data-target="#myModal">Studio near UCL</a></li>
			<li><a href="#" data-toggle="modal" data-target="#myModal">2 beds in South Kensington</a></li>
		</ul>
	</div>
	<!-- popular-searches -->
</div>
<!-- end banner -->
<!-- start how-it-works -->
<div class="how-it-works clearfix">
	<div class="container">
		<div class="column">
			<h3>1. Personalise your rental home search</h3>
			<p>Based on your own commute & lifestyle criteria</p>
			<div class="works-info clearfix">
				<div class="row">
					<div class="col-md-12 col-lg-5">
						<div class="txtb">
							<ul>
								<li>
									<h4>Enter up to 5 commutes</h4>
									<span>(e.g. work, school runs)</span>
								</li>
								<li>
									<h4>Choose facilities you want nearby </h4>
									<span>(e.g. park, grocery store)</span>
								</li>
								<li>
									<h4>Filter listings by property features</h4>
									<span>(e.g. no lower ground floor)</span>
								</li>
								<li>
									<h4>Plan for the things that most matter to you</h4>
								</li>
							</ul>
							<a routerLink="/home-search"  class="find-btn">Begin Search</a>
						</div>
					</div>
					<div class="col-md-12 col-lg-7">
						<div class="img-box">
							<img src="assets/images/img_8.jpeg" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div><!-- column -->
		<div class="column">
			<h3>2. View, rate & secure your home with your tribe</h3>
			<p>Collaborating with your loved ones in real-time</p>
			<div class="works-info clearfix">
				<div class="row">
					<div class="col-md-12 col-lg-7">
						<div class="img-box">
							<img src="assets/images/img_9.jpeg" alt="image">
						</div>
					</div>
					<div class="col-md-12 col-lg-5">
						<div class="txtb">
							<ul>
								<li>
									<h4>Create your search group with <br>friends and family</h4>
								</li>
								<li>
									<h4>Create your shortlist</h4>
								</li>
								<li>
									<h4>Organise viewings & rate properties in real-time with your tribe</h4>
								</li>
								<li>
									<h4>Negotiate your lease & find deals to<br>help you settle in</h4>
								</li>
							</ul>
							<a routerLink="/home-search"  class="find-btn">Begin Search</a>
						</div>
					</div>
				</div>
			</div>
		</div><!-- column -->
	</div>
	<!-- start search-home-box -->
	<!-- <div class="search-home-box gap clearfix">
		<div class="search-info">
			<div class="col-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
				<h2>Find a new home that's right <span>for you, without the hassle</span></h2>
				<div class="search-box">
					<form>
						<div class="column-search">
					      	<button type="submit"><img src="images/ic_search.svg"></button>
					      	<input type="text" placeholder="Find properties within" name="search">
				      	</div>
				      	<div class="column-min">
							<select>
								<option>15 minutes</option>
								<option>30 minutes</option>
								<option>45 minutes</option>
								<option>60 minutes</option>
								<option>1 hour</option>
								<option>1 hour 15 minutes</option>
								<option>1 hour 30 minutes</option>
								<option>1 hour 45 minutes</option>
								<option>2 hour</option>
								<option>2 hour 15 minutes</option>
							</select>
				      	</div>
				      	<div class="column-to">
				      		<span>to</span>
				      	</div>
				      	<div class="column-detail">
				      		<input type="text" placeholder="e.g. Shoreditch High Street" name="search">
				      	</div>
				      	<div class="column-button">
					      	<button type="submit" class="search-btn">Search</button>
				      	</div>
					</form>
				</div>
				<div class="popular-search">
					<h4>Popular searches</h4>
					<ul>
						<li><a href="search.html">2 bed in Hoxton</a></li>
						<li><a href="search.html">2 bed in Puntey</a></li>
						<li><a href="search.html">3 bed in Chiswick</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div> -->	
	<!-- end search-home-box -->
	<div class="column bg-white">
		<div class="container">
			<h3>3. Get a dedicated local expert to search for you</h3>
			<p>From evaluating your needs, organising viewings to negotiating the best deal and settling in</p>
			<div class="works-info clearfix">
				<div class="row">
					<div class="col-md-12 col-lg-5">
						<div class="txtb">
							<ul>
								<li>
									<h4>Get a market insider to be & work <br>on your side</h4>
								</li>
								<li>
									<h4>Expert advice on areas & property <br>types matching your preferences</h4>
								</li>
								<li>
									<h4>Best property options, delivered <br>directly to your inbox</h4>
								</li>
								<li>
									<h4>Fully tailored concierge service <br> from search to getting the keys</h4>
								</li>
							</ul>
							<a routerLink="/sherpa-services" class="find-btn">Find my Sherpa</a>
						</div>
					</div>
					<div class="col-md-12 col-lg-7">
						<div class="img-box">
							<img src="assets/images/img_10.jpeg" alt="image">
						</div>
					</div>
				</div>
			</div>
			<p class="tag-line">Note: We do not receive any payment from landlords or estate agents and remain fully independent; our fees are fixed, as published, so you have full transparency on costs</p>
		</div><!-- column -->
	</div>
</div>
<!-- end how-it-works -->
<!-- start contact -->
<div class="contact" id="contact-us">
	<div class="container">
		<h4>FEEL FREE TO GET IN TOUCH</h4>
		<h3>We're here to help and we'd love to hear from you</h3>
		<!-- <p>CENTRAL WORKING, 2 KINGDOM STREET, LONDON W2 6BD, UNITED KINGDOM</p> -->
		<p>2, Kingdom Street<br>London W2 6BD<br>United Kingdom</p>
		<a href="mailto:marketing@theurbancollective.io" target="_blank" class="btn">EMAIL US</a>
	</div>
</div>

<!-- end contact -->

<app-footer></app-footer>