<div class="header">
	<div class="header-in">
		<div class="container">
			<div class="clearfix">
				<!-- logo -->
				<div class="logo col-12 col-md-2 col-lg-2">
					<a href="/"><img src="assets/images/logo.svg" alt="AWASA"></a>
				</div>
				<!--logo -->
				<!-- navigation -->
				<div class="navigation col-12 col-md-10 col-lg-10">
					<!-- nav-link -->
					<div class="nav-link" id="nav-link">
						<a href="#"><img src="assets/images/ic_nav_link.svg"></a>
					</div>
					<!-- nav-link -->
					<div class="nav-box" id="nav-box">
						<!-- nav-link -->
						<div class="nav-link" id="nav-link2">
							<a href="#"><img src="assets/images/ic_nav_close.svg"></a>
						</div>
						<!-- nav-link -->
						<!-- app_download_link -->
						<!-- <div class="app_download_link">
							<ul>
								<li><a target="_blank"  href="https://itunes.apple.com/gb/app/urbanco/id1250754314?mt=8&__hssc=157679013.9.1499435970955&__hstc=157679013.491ad065b4b918b71da45d1dbdfec8b0.1499428732458.1499428732458.1499435970955.2&__hsfp=1188821749&hsCtaTracking=e7778a35-3118-4d5a-b74d-f9189dbb38c1%7Cbf95b683-b052-4355-ae86-07d2b07c1644"><img src="assets/images/ic_apple.svg" alt="apple"></a></li>
								<li><a target="_blank"  href="https://play.google.com/store/apps/details?id=com.urbancollective"><img src="assets/images/ic_android.svg" alt="android"></a></li>
							</ul>
							<span>Get the App</span>
						</div> -->
						<div class="app_download_link">
							<ul>
								<li><a target="_blank"  href="https://itunes.apple.com/gb/app/urbanco/id1250754314?mt=8&__hssc=157679013.9.1499435970955&__hstc=157679013.491ad065b4b918b71da45d1dbdfec8b0.1499428732458.1499428732458.1499435970955.2&__hsfp=1188821749&hsCtaTracking=e7778a35-3118-4d5a-b74d-f9189dbb38c1%7Cbf95b683-b052-4355-ae86-07d2b07c1644"><img src="assets/images/ic_app_store.png" alt="apple"></a></li>
								<li><a target="_blank"  href="https://play.google.com/store/apps/details?id=com.urbancollective"><img src="assets/images/ic_google_play.png" alt="android"></a></li>
							</ul>
						</div>
						<!-- app_download_link -->
						<ul>
							<li><a routerLink="search" title="Search">Search</a></li>
							<li><a routerLink="sherpa-services" title="Sherpa">Sherpa</a></li>
							<li><a routerLink="#our-blog" title="Our blog">Our blog</a>
								<ul>
									<li><a routerLink="area-guides" title="City Guide">Area Guides</a></li>
									<li><a routerLink="sherpa-tips" title="Sherpa tips">Sherpa Tips</a></li>
								</ul>
							</li>
							<li class="active"><a routerLink="#" title="About">About</a>
								<ul>
									<li><a routerLink="how-it-works" title="How it works">How it Works</a></li>
									<li><a routerLink="our-story" title="Our Story">Our Story</a></li>
								</ul>
							</li>
							<li><a routerLink="/login" title="Login" *ngIf="!loggedIn">Log In</a></li>
							<li><a href="#" (click)="logout($event)" *ngIf="loggedIn" title="Login">Logout</a></li>
						</ul>
					</div>
				</div>
				<!-- navigation -->
			</div>
		</div>
	</div>
</div>
<!-- end header -->
<!-- start banner -->
<div class="our-story banner"><div class="banner-in"></div></div>
<!-- end banner -->
<!-- start our-vision -->
<div class="our-vision">
	<div class="container">
		<h3>Our vision is to provide the most transparent <br>and efficient end-to-end solution for rental search</h3>
		<div class="row">
			<div class="column col-12 col-sm-12 col-md-4 col-lg-4">
				<div class="imgb">
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<h4>Rental search experience is broken… </h4>
					<p>Looking for a property to rent in London or any other big city? Be prepared to spend a lot of time on multiple websites, online ads, talking to estate agents, visiting often nonsensical properties, etc. </p>
					<p>Do you know for a large number of tenants it can take between 50 and 250 hours to find a property? </p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-sm-12 col-md-4 col-lg-4">
				<div class="imgb">
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<h4>…Requiring a new approach for property search…</h4>
					<p>In the modern world where technology enables numerous on-demand services, we are introducing our Artificial Intelligence-powered app that enables you to ‘find & finalise’ a property efficiently!</p>
					<p>Need more help? Hire a Sherpa who will do all the heavy lifting for you.</p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-sm-12 col-md-4 col-lg-4">
				<div class="imgb">
					<img src="assets/images/ic_check.svg" alt="check">
				</div>
				<div class="txtb">
					<h4>…A product that works for tenants!</h4>
					<p>Discover neighbourhoods and properties that match your lifestyle, discuss and decide with your friends and family, set viewings directly from the app! And lots more new features coming soon to make rental search even easier.</p>
					<p>We put in the hard work so you don’t waste your time anymore!</p>
				</div>
			</div><!-- column -->
		</div>
	</div>
</div>
<!-- end our-vision -->
<!-- start our-team -->
<div class="our-team">
	<h3>Meet our team</h3>
	<div class="team-slider">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="img-column">
						<img src="assets/images/img_profile.png" alt="profile">
					</div><!-- img-column -->
					<div class="text-column">
						<h4>Mayank Mathur<span>Founder</span></h4>
						<div class="txtb">
							<p>Mayank has 15 years experience of working with technology companies globally. Before taking the plunge and becoming an entrepreneur, he was a technology investment banker with Morgan Stanley and Citi in London for 9 years. In 2011, Mayank co-founded a fintech startup in India – uTrade Solutions. They develop high frequency trading platform and blockchain solutions for brokers, banks, exchanges, and other global financial institutions. He was responsible for developing the sales network and clients in India, fund raising, crafting international markets expansion, as well as evaluating and negotiating various corporate transactions. Mayank is a tenant and has lived in seven rental properties since 2002 across multiple cities all over the world.</p>
						</div>
						<ul>
							<li><a href="https://twitter.com/MathurMnk" target="_blanck"><img src="assets/images/ic_twitter.svg" alt="twitter"></a></li>
							<li><a href="https://www.linkedin.com/in/mathurmnk/" target="_blanck"><img src="assets/images/ic_linkedin_in.svg" alt="linkedin in"></a></li>
						</ul>
					</div><!-- text-column -->
				</div>
				<div class="carousel-item">
					<div class="img-column">
						<img src="assets/images/img_octavian.png" alt="profile">
					</div><!-- img-column -->
					<div class="text-column">
						<h4>Octavian Pop<span>Cofounder</span></h4>
						<div class="txtb">
							<p>Octavian’s background is in real estate business and sales and he has several years' experience at some of the top estate agencies in Central and North London. Like many others he's shared the lengthy, painful process of finding his ideal rental property. He knows your ideal rental property is more than just bricks and mortar, and how important it is to find a home that fits well with your lifestyle. Fascinated by the art of sales, he is always looking to improve his skills through seminars, books and specialized courses.</p>
						</div>
						<ul>
							<li><a href="https://www.linkedin.com/in/octavian-pop-36b804105/" target="_blanck"><img src="assets/images/ic_linkedin_in.svg" alt="linkedin in"></a></li>
							<li><a href="https://twitter.com/TaviOvP" target="_blanck"><img src="assets/images/ic_twitter.svg" alt="twitter"></a></li>
						</ul>
					</div><!-- text-column -->
				</div>
				<div class="carousel-item">
					<div class="img-column">
						<img src="assets/images/rajnish-kohli.png" style="border-radius: 150px;" alt="profile">
					</div><!-- img-column -->
					<div class="text-column">
						<h4>Rajnish Kohli<span>CTO</span></h4>
						<div class="txtb">
							<p>Experienced IT leader and Angel Investor (Stern Fisher Network), with expertise in Fintech and Healthcare. Former Vice-President at Perot Systems and Senior Director & Site Head at Fidelity Investments. Currently serving as the CEO of RSVR Technologies – a technology solutions provider for start-ups in the UK, Europe, and Asia.</p>
							<p>Prior experience entails managing highly-profitable businesses and captive organisations in the US, UK, and India, including the likes of Fidelity, iSOFT and SSP. Award-winning manager, and Faculty of Management Studies (FMS) alumnus, who has led geographically dispersed global teams across a broad spectrum of technologies.</p>
						</div>
						<ul>
							<li><a href="https://www.linkedin.com/in/rajnishkohli/" target="_blanck"><img src="assets/images/ic_linkedin_in.svg" alt="linkedin in"></a></li>
							<li><a href="https://twitter.com/rajnishkohli" target="_blanck"><img src="assets/images/ic_twitter.svg" alt="twitter"></a></li>
						</ul>
					</div><!-- text-column -->
				</div>
				<div class="carousel-item">
					<div class="img-column">
						<img src="assets/images/img_aditya.png" alt="profile">
					</div><!-- img-column -->
					<div class="text-column">
						<h4>Aditya Bandi<span>Head of Product</span></h4>
						<div class="txtb">
							<p>Aditya Bandi is an entrepreneur and product manager for the past 8 years with experience in leading and managing products in both the startups and enterprises. He has worked with large cross-functional teams and has been based in both San Francisco Bay Area and in Bangalore, India.</p>
							<p>He holds a B.S. in Information Systems Management, and B.A. in Business Management Economics from University of California Santa Cruz, and an MBA from IE Business School.</p>
						</div>
						<ul>
							<li><a href="https://www.linkedin.com/in/adibandi/" target="_blanck"><img src="assets/images/ic_linkedin_in.svg" alt="linkedin in"></a></li>
						</ul>
					</div><!-- text-column -->
				</div>
				<div class="carousel-item">
					<div class="img-column">
						<img src="assets/images/img_stylianos_kamapkis.png" alt="profile">
					</div><!-- img-column -->
					<div class="text-column">
						<h4>Dr. Stylianos Kamapkis<span>Advisor - Artificial Intelligence</span></h4>
						<div class="txtb">
							<p>Stylianos (Stelios) Kampakis is a Data Scientist who is a member of the Royal Statistical Society, and the UCL Centre of Blockchain Technologies. He is also an educator in data science, running online and in-person courses on the subject.</p>
							<p>He has been involved in the area of data science and artificial intelligence for nearly a decade and comes from a diverse background that includes amongst other things, Psychology, Music Studies to a PhD in Computer Science and BSc in Mathematics and Statistics.</p>
						</div>
						<ul>
							<li><a href="https://www.linkedin.com/in/dr-stylianos-kampakis/" target="_blanck"><img src="assets/images/ic_linkedin_in.svg" alt="linkedin in"></a></li>
							<li><a href="https://twitter.com/s_kampakis" target="_blanck"><img src="assets/images/ic_twitter.svg" alt="twitter"></a></li>
						</ul>
					</div><!-- text-column -->
				</div>
				<div class="carousel-item">
					<div class="img-column">
						<img src="assets/images/img_valerie.png" alt="profile">
					</div><!-- img-column -->
					<div class="text-column">
						<h4>Valerie Vigouroux<span>Cofounder </span></h4>
						<div class="txtb">
							<p>Valerie is a Marketing and Strategy professional with broad experience in brand development, go-to-market strategy and multi-channel distribution and communication platforms. She has worked across the digital media, consumer goods and consumer services industries for nearly 15 years for large multinational companies and booming start-up players. Before cofounding The Urban Collective, she successfully launched a new hair care brand in India, which won a number of beauty awards. She is currently a tenant in London and has rented numerous properties in Mumbai and Paris.</p>
						</div>
					</div><!-- text-column -->
				</div>
			</div>
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
				<li data-target="#myCarousel" data-slide-to="4"></li>
				<li data-target="#myCarousel" data-slide-to="5"></li>
			</ol>
		</div>
	</div>
</div>
<!-- end our-team -->
<!-- start search-home-box -->
<div class="search-home-box gap clearfix">
	<div class="search-info">
		<div class="justify-content-md-center">
			<div class="col-12">
				<h2>Start your search now</h2>
				<app-search-field></app-search-field>
				<!-- popular-search -->
				<div class="popular-search">
					<h4>Popular searches</h4>
					<ul>
						<li><a href="#" data-toggle="modal" data-target="#myModal">2 beds in Marylebone</a></li>
						<li><a href="#" data-toggle="modal" data-target="#myModal">1 bed in Victoria</a></li>
						<li><a href="#" data-toggle="modal" data-target="#myModal">3 beds in Wimbledon</a></li>
						<li><a href="#" data-toggle="modal" data-target="#myModal">Studio near UCL</a></li>
						<li><a href="#" data-toggle="modal" data-target="#myModal">2 beds in South Kensington</a></li>
					</ul>
				</div>
				<!-- popular-search -->
			</div>
		</div>
	</div>
</div>	
<!-- end search-home-box -->
<!-- start press-box -->
<div class="press-box">
	<div class="container">
		<h3>In the press</h3>
		<div class="row">
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<div>
						<a href="http://theurbancollective.io/about-us/#myCarousel" target="_blanck"><img src="assets/images/client_logo_2.svg" width="204px" alt="client logo"></a>
					</div>
				</div>
				<div class="text-box">
					<p>"…trying to prioritise tenants for the first time and revolutionise the rental experience, bringing it into the 21st century."</p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<div>
						<a href="https://www.youtube.com/watch?v=SP1xBZOrZE8&t=2s" target="_blanck"><img src="assets/images/client_logo_3.svg" width="104px" alt="client logo"></a>
					</div>
				</div>
				<div class="text-box">
					<p>"…led a study in the UK that gives some perspectives on how broken the UK property market really is and its impact on renters"</p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<div>
						<a href="https://thefintechtimes.com/start-profiles-urban-collectiveurbanco/" target="_blanck"><img src="assets/images/client_logo_4.svg" width="126px" alt="client logo"></a>
					</div>
				</div>
				<div class="text-box">
					<p>"Fintech News: New business models and technology have all the potential to turn over the existing industry order."</p>
				</div>
			</div><!-- column -->
			
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<div>
						<a href="http://vergemagazine.co.uk/ending-apartment-hunting-anxiety/" target="_blanck"><img src="assets/images/client_logo_5.svg" width="137px" alt="client logo"></a>
					</div>
				</div>
				<div class="text-box">
					<p>"TheVerge: the revolutionary new app (...) ending apartment-hunting anxiety"</p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<div>
						<a href="https://www.thesun.co.uk/money/4409807/buyers-renters-mortgages-agreements-negotiations-property-sun-savers-rewards-club-deals-offers/" target="_blanck"><img src="assets/images/client_logo_6.svg" width="113px" alt="client logo"></a>
					</div>
				</div>
				<div class="text-box">
					<p>"And for the wealthier end of the lettings market who are cash rich but time poor, The <strong>…has launched a ‘Sherpa’</strong> service"</p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<div>
						<a href="https://www.mirror.co.uk/money/impossible-dream-how-britain-became-10919261" target="_blanck"><img src="assets/images/client_logo_7.png" width="134px" alt="client logo"></a>
					</div>
				</div>
				<div class="text-box">
					<p>"Today, owning a home is a long-term goal and in 15 years’ time it might just be an impossible dream. If we’re going to become a nation of forever renters, then clearly the experience has to improve."</p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<div>
						<a href="http://www.hamhigh.co.uk/property/urban-collective-london-rental-property-app-prop-tech-sherpa-service-1-5102031" target="_blanck"><img src="assets/images/client_logo_8.png" width="134px" alt="client logo"></a>
					</div>
				</div>
				<div class="text-box">
					<p>"The aim of … is to streamline the search process, matching tenants with their dream homes without their having to sift through endless properties"</p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<div>
						<a href="http://www.londonlovesbusiness.com/property/residential-property/new-proptech-start-up-aims-to-revolutionise-the-rental-industry/16589.article" target="_blanck"><img src="assets/images/client_logo_10.png" width="204px" alt="client logo"></a>
					</div>
				</div>
				<div class="text-box">
					<p>"… app also allows collaborative chat and commenting, with link, image and video sharing to organise thoughts and feedback in one place…"</p>
				</div>
			</div><!-- column -->
			
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<div>
						<a href="https://www.graduatemag.co.uk/careers/graduate-advice/269-the-app-set-to-revolutionise-the-rental-experience" target="_blanck"><img src="assets/images/client_logo_12.png" width="204px" alt="client logo"></a>
					</div>
				</div>
				<div class="text-box">
					<p>"...the pioneering ‘Sherpa’ service refines a tenant’s property search to be individually lifestyle focused, customising each search to all personal requirements"</p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<div>
						<a href="https://www.theasiantoday.com/index.php/2017/07/12/new-app-urbanco-makes-renting-quick-painless/" target="_blanck"><img src="assets/images/client_logo_14.png" width="204px" alt="client logo"></a>
					</div>
				</div>
				<div class="text-box">
					<p>"… is on a mission to revolutionise the rental market and finally put tenants’ needs first"</p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<div>
						<a href="https://www.lettingagenttoday.co.uk/breaking-news/2017/7/new-buying-agent-style-service-launches-for-busy-london-renters" target="_blanck"><img src="assets/images/client_logo_15.png" width="204px" alt="client logo"></a>
					</div>
				</div>
				<div class="text-box">
					<p>"A married couple, developed the service after becoming personally fed up with the rental market and how they believed it to be geared to agents and landlords, not tenants"</p>
				</div>
			</div><!-- column -->
			<div class="column col-12 col-md-4 col-lg-4">
				<div class="img-box">
					<div>
						<a href="https://www.youtube.com/watch?v=ms1ma_1kjRs" target="_blanck"><img src="assets/images/client_logo_13.png" width="204px" alt="client logo"></a>
					</div>
				</div>
				<div class="text-box">
					<p>"According to research from …, seven in ten tenants say the prospect of renting forever would make them 'unhappy', with his fiqure rising to 84% among londoners."</p>
				</div>
			</div><!-- column -->
		</div>
	</div>
</div>
<!-- end press-box -->
<app-footer></app-footer>